# ì•ˆë…•í•˜ì„¸ìš”, ì—¬ëŸ¬ë¶„ ^^ 

# ë””ì§€ì½” ë””ê·¸ë¦¬ AI ëª¨ë¸ë§ ê³¼ì • 
# ğŸˆ"ë„ì „ ë¨¸ì‹ ëŸ¬ë‹" ì‹œê°„ì— ì˜¤ì‹  ì—¬ëŸ¬ë¶„ì„ í™˜ì˜í•©ë‹ˆë‹¤!

## ì˜¤ëŠ˜ì€ <font color="#01918a">'íƒ€ì´íƒ€ë‹‰ ìƒì¡´ì ì˜ˆì¸¡'</font> ë¬¸ì œë¥¼ í•´ê²°í•´ ë³´ê² ìŠµë‹ˆë‹¤.

<img src = "https://images.unsplash.com/photo-1654170816607-f355d5cd5619?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2664&q=80" width=100% align="center"/>

<div align="right">ì‚¬ì§„: <a href="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/TQAWPDbuwrc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>ì˜<a href="https://unsplash.com/@ep_petrus?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Edwin Petrus</a></div>

---

## 1. ë°ì´í„° ìˆ˜ì§‘ ë° ë¶„ì„
### 1) ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
# ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv("./data/train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

---

## 2. ë°ì´í„° ì „ì²˜ë¦¬ (1)
ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ì„ ì‚­ì œí•˜ê±°ë‚˜ ê¸°ì¡´ ë°ì´í„°ë¡œ ë¶€í„° ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•©ë‹ˆë‹¤. <br>
ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•˜ê³  ì²˜ë¦¬í•©ë‹ˆë‹¤. <br>

### 1) ë°ì´í„° ê°€ê³µí•˜ê¸°
#### â‘  ê¸°ì¡´ ë°ì´í„°ì—ì„œ ìœ ìš©í•œ ì •ë³´ ì¶”ì¶œí•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ ë§Œë“¤ê¸°

- **'Name' ì»¬ëŸ¼ì—ì„œ í˜¸ì¹­('Mr, 'Mrs', 'Miss' ë“±)ì„ ë”°ë¡œ ë¶„ë¦¬í•´ì„œ 'Title' ì»¬ëŸ¼ì„ ìƒˆë¡œ ë§Œë“¤ì–´ ë³´ì„¸ìš”.**<br>

In [ ]:
df['Name'].head(30)

- **pandasì˜ 'str.extract' ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ì •ê·œí‘œí˜„ì‹ íŒ¨í„´ì„ ì¶”ì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.**
> **ì •ê·œ í‘œí˜„ì‹ì´ë€?** <br>
> íŠ¹ì •í•œ ì¡°ê±´ì˜ ë¬¸ìë¥¼ 'ê²€ìƒ‰'í•˜ê±°ë‚˜ 'ì¹˜í™˜'í•˜ëŠ” ê³¼ì •ì„ ë§¤ìš° ê°„í¸í•˜ê²Œ ì²˜ë¦¬í•˜ê¸° ìœ„í•œ ë°©ë²•<br>
> [0-9] ë˜ëŠ” [a-zA-Z] ë“±ì€ ë¬´ì²™ ìì£¼ ì‚¬ìš©í•˜ëŠ” ì •ê·œ í‘œí˜„ì‹ì…ë‹ˆë‹¤.<br>
> [ì°¸ê³ ] ì •ê·œ í‘œí˜„ì‹ (https://wikidocs.net/4308)

***"ë›°ì–´ì“°ê¸°ë¡œ ì‹œì‘ë˜ë©°, ëª¨ë“  ì•ŒíŒŒë²³ì„ í¬í•¨í•œ ë¬¸ìê°€ ë°˜ë³µë˜ë‹¤ê°€ dot(.)ìœ¼ë¡œ ë§ˆë¬´ë¦¬ ë˜ëŠ” ë¬¸ìì—´ì„ ì°¾ì•„ë³´ì„¸ìš”."***

In [4]:
df['Name'].str.extract(' ([a-zA-Z]+)\.')

df['Title'] = df['Name'].str.extract(' ([a-zA-Z]+)\.')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

- **ìƒˆë¡œ ìƒì„±í•œ í˜¸ì¹­(Title) ì»¬ëŸ¼ì˜ ë°ì´í„° ë¶„í¬ë¥¼ í™•ì¸í•˜ê³  ê³ ìœ ê°’ ì¤‘ ê°œìˆ˜ê°€ ì „ì²´ì˜ 10% ë¯¸ë§Œì¼ ê²½ìš° ê·¸ ê°’ì„ 'Others'ë¡œ ë³€ê²½í•´ ì£¼ì„¸ìš”.**
> value_counts() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ ê³ ìœ ê°’ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. <br>ë˜í•œ, normalize ì˜µì…˜ì„ Trueë¡œ í•˜ë©´ ì „ì²´í•©ì´ 1ì¸ ìƒíƒœì—ì„œ ëª¨ë“  ê°’ì„ ë¹„ì¤‘ìœ¼ë¡œ ë‚˜ëˆ„ì–´ì„œ ë°˜í™˜í•˜ê²Œ ë©ë‹ˆë‹¤.

In [6]:
df['Title'].value_counts()

Title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: count, dtype: int64

In [7]:
# normalize ì˜µì…˜ì„ ì£¼ë©´ ì»¬ëŸ¼ ê°’ì˜ ë¹„ìœ¨ì„ ì•Œ ìˆ˜ ìˆë‹¤.
df['Title'].value_counts(normalize=True)

Title
Mr          0.580247
Miss        0.204265
Mrs         0.140292
Master      0.044893
Dr          0.007856
Rev         0.006734
Mlle        0.002245
Major       0.002245
Col         0.002245
Countess    0.001122
Capt        0.001122
Ms          0.001122
Sir         0.001122
Lady        0.001122
Mme         0.001122
Don         0.001122
Jonkheer    0.001122
Name: proportion, dtype: float64

In [8]:
# ëŒ€í‘œ í˜¸ì¹­ ì´ì™¸ëŠ” Othersë¡œ ë³€ê²½
df.loc[df['Title'].isin(['Mr', 'Miss', 'Mrs'])==False, ['Title']] = 'Others'

In [ ]:
df.head()

### 2) ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•˜ê¸°
ê²°ì¸¡ì¹˜ ì²˜ë¦¬ëŠ” ë°ì´í„°ì…‹ì—ì„œ ëˆ„ë½ëœ ê°’ì´ë‚˜ ë¹„ì–´ ìˆëŠ” ê°’ì¸ ê²°ì¸¡ì¹˜ë¥¼ ë‹¤ë£¨ëŠ” ê³¼ì •ì„ ë§í•©ë‹ˆë‹¤. ê²°ì¸¡ì¹˜ëŠ” ë°ì´í„° ìˆ˜ì§‘ ê³¼ì •ì—ì„œ ë°œìƒí•  ìˆ˜ ìˆëŠ” ì‹¤ìˆ˜, ëˆ„ë½ëœ ì •ë³´, ê¸°ë¡ ì˜¤ë¥˜ ë“±ìœ¼ë¡œ ì¸í•´ ë°œìƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ê²°ì¸¡ì¹˜ ì²˜ë¦¬ëŠ” ë°ì´í„° ë¶„ì„ì´ë‚˜ ê¸°ê³„ í•™ìŠµ ëª¨ë¸ í•™ìŠµì— í•„ìˆ˜ì ì¸ ë‹¨ê³„ë¡œ ê°„ì£¼ë©ë‹ˆë‹¤.

ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë°©ë²•ì€ ë°ì´í„°ì˜ íŠ¹ì„±ê³¼ ë¶„ì„ ëª©ì ì— ë”°ë¼ ì„ íƒë˜ì–´ì•¼ í•©ë‹ˆë‹¤. ì£¼ì–´ì§„ ìƒí™©ê³¼ ë°ì´í„°ì— ë§ëŠ” ì ì ˆí•œ ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë°©ë²•ì„ ì„ íƒí•˜ì—¬ ë°ì´í„°ì˜ ìœ íš¨ì„±ì„ ìœ ì§€í•˜ê³  ì •í™•í•œ ë¶„ì„ ê²°ê³¼ë¥¼ ì–»ì„ ìˆ˜ ìˆë„ë¡ í•´ì•¼ í•©ë‹ˆë‹¤.

#### ğŸš¨<font color="red"> ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì‹œ ì£¼ì˜ì‚¬í•­</font>
>**ë°ì´í„° ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì‹œ ë°˜ë“œì‹œ ì›ë³¸ ë°ì´í„°ë¥¼ ë³µì‚¬í•´ì„œ ì‚¬ìš©í•˜ì—¬ ì›ë³¸ ë°ì´í„°ì˜ ì†ì‹¤ì„ ì˜ˆë°©í•©ë‹ˆë‹¤.<br>
><u>íŒŒì´ì¬ì—ì„œ Copy ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šìœ¼ë©´ ì£¼ì†Œê°’ì„ ë³µì‚¬í•´ì„œ ì‚¬ìš©ê¸° ë•Œë¬¸ì— ì›ë³¸ ê°’ì„ ë³€ê²½ ì‹œí‚¤ê²Œ ë©ë‹ˆë‹¤.</u><br>
>ë”°ë¼ì„œ, ì›ë³¸ í•­ëª©ì„ ë³´ì „í•˜ë©´ì„œ ë°ì´í„°ë¥¼ ë³´ì •í•˜ë ¤ë©´ copy() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°±ì—…í•´ë‘ëŠ” ê²ƒì´ í•„ìš”í•©ë‹ˆë‹¤.**

In [9]:
# ì›ë³¸ ë°ì´í„°í”„ë ˆì„ 'df' ë¥¼ copyí•œ ë°ì´í„°í”„ë ˆì„ 'df_copy'
df_copy = df.copy()
df_copy.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [10]:
# ì›ë³¸ ë°ì´í„°í”„ë ˆì„ 'df' ë¥¼ copyí•˜ì§€ ì•Šê³  ìƒˆë¡œìš´ ë³€ìˆ˜ì— í• ë‹¹ 'df_nocopy'
# ì´ë ‡ê²Œ í•˜ë©´ ê°™ì€ ë©”ëª¨ë¦¬ ì£¼ì†Œ ê°’ì„ ì°¸ì¡° í•œë‹¤.
df_nocopy=df
df_nocopy.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [11]:
# df_nocopy ë³€ìˆ˜ì˜ ìŠ¹ê°ID(PassengerId)ë¥¼ ëª¨ë‘ 0ìœ¼ë¡œ ë³€ê²½
df_nocopy['PassengerId']=0
df_nocopy.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [12]:
# ì›ë³¸ ë°ì´í„° í”„ë ˆì„ dfê°€ í•¨ê»˜ ë³€ê²½ëœ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,0,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [13]:
id(df), id(df_nocopy), id(df_copy)

(5716220944, 5716220944, 5718100240)

In [14]:
df_copy.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [15]:
df = df_copy.copy()

#### â‘  ê²°ì¸¡ì¹˜ í™•ì¸í•˜ê¸°
- **ê²°ì¸¡ì¹˜ í–‰ í™•ì¸í•˜ê¸°**

In [16]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False,False

- **ê²°ì¸¡ì¹˜ ê°œìˆ˜ í™•ì¸í•˜ê¸°**

In [17]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Title            0
dtype: int64

ë°ì´í„°ì…‹ì—ì„œ ëˆ„ë½ëœ ê°’(ê²°ì¸¡ì¹˜)ì„ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ê³¼ì •ì„ ë§í•©ë‹ˆë‹¤. <br>
ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ëŠ” ë°©ë²•ì€ ë°ì´í„°ì˜ íŠ¹ì„±ê³¼ ë¶„ì„ ëª©ì ì— ë”°ë¼ ë‹¤ì–‘í•˜ê²Œ ì„ íƒë  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì¼ë°˜ì ìœ¼ë¡œ ì‚¬ìš©ë˜ëŠ” ê²°ì¸¡ì¹˜ ëŒ€ì²´ ë°©ë²•ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤. <br>

1. í‰ê· , ì¤‘ì•™ê°’, ìµœë¹ˆê°’ ë“±ì˜ ëŒ€í‘œì ì¸ í†µê³„ëŸ‰ ì‚¬ìš©
2. ê²°ì¸¡ì¹˜ Imputer í™œìš©í•˜ì—¬ ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì²´í•˜ëŠ” ë°©ë²•
3. ë„ë©”ì¸ ì§€ì‹ ë˜ëŠ” ì „ë¬¸ê°€ ì§€ì‹ í™œìš©

ê°ê°ì˜ ë°©ë²•ì€ ë°ì´í„°ì˜ íŠ¹ì„±ê³¼ ë¶„ì„ ëª©ì ì— ë”°ë¼ ì„ íƒë©ë‹ˆë‹¤. ë°ì´í„°ì…‹ê³¼ ë¶„ì„ í™˜ê²½ì„ ê³ ë ¤í•˜ì—¬ ê°€ì¥ ì í•©í•œ ë°©ë²•ì„ ì„ íƒí•˜ì—¬ ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1. **í†µê³„ëŸ‰ì„ ì‚¬ìš©í•˜ì—¬ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°**
    
- **ë‚˜ì´(Age) ì»¬ëŸ¼ì„ í˜¸ì¹­(Title) ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ í•˜ì—¬ ê·¸ë£¹ ë³„ ë‚˜ì´ì˜ ì¤‘ì•™ê°’ìœ¼ë¡œ ì±„ì›Œ ì£¼ì„¸ìš”.**
> ê°„ë‹¨í•œ ì§‘ê³„ë¥¼ ë„˜ì–´ì„œ ì¡°ê±´ë¶€ë¡œ ì§‘ê³„í•˜ê³  ì‹¶ì€ ê²½ìš°, pandasì˜ ***groupby*** í•¨ìˆ˜ë¥¼ í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.<br>
> ***groupby*** í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ë©´ í‚¤ ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹ìœ¼ë¡œ ë¬¶ì„ ìˆ˜ ìˆê³ , <br>ë¬¶ì€ ê·¸ë£¹ë³„ë¡œ ***ì—°ì‚°(í‰ê· , ì¤‘ê°„ê°’ ë“±)***ì´ ê°€ëŠ¥í•©ë‹ˆë‹¤.<br> 
> ë˜, ***transform***ì„ ì‚¬ìš©í•˜ë©´ ê·¸ë£¹ë³„ë¡œ ì—°ì‚°ì„ ìˆ˜í–‰í•œ ê²°ê³¼ë¥¼ ì›ë³¸ ë°ì´í„° í”„ë ˆì„ì— ì ìš©í•  ìˆ˜ ë„ ìˆìŠµë‹ˆë‹¤.

In [26]:
# Age ì»¬ëŸ¼ì˜ Title ë³„ ì¤‘ì•™ê°’ í™•ì¸í•˜ê¸°
df.groupby('Title')[['Age', 'Fare']].median()

         Age      Fare
Title
Miss    21.0  15.62085
Mr      30.0   9.35000
Mrs     35.0  26.00000
Others   9.0  29.12500

In [27]:
# Age ê²°ì¸¡ì¹˜ë¥¼ Title ë³„ ì¤‘ì•™ê°’ìœ¼ë¡œ ì±„ìš°ê¸°
df_simple = df.copy()

df_simple['Age'] = df['Age'].fillna(df.groupby('Title')['Age'].transform('median'))

In [28]:
df_simple.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Title            0
dtype: int64

**2. ê²°ì¸¡ì¹˜ Imputer í™œìš©í•˜ì—¬ ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì²´í•˜ëŠ” ë°©ë²•**<br>
sklearn.impute ëª¨ë“ˆì—ì„œ ë‹¤ì–‘í•œ ê²°ì¸¡ì¹˜ imputer í´ë˜ìŠ¤ë¥¼ ì œê³µí•©ë‹ˆë‹¤. ì´ëŸ¬í•œ imputer í´ë˜ìŠ¤ë“¤ì€ ê²°ì¸¡ì¹˜ ëŒ€ì²´ë¥¼ ìœ„í•œ ì—¬ëŸ¬ ê°€ì§€ ì „ëµì„ ì§€ì›í•©ë‹ˆë‹¤. 

> - **'SimpleImputer'**: ê²°ì¸¡ì¹˜ë¥¼ íŠ¹ì •í•œ ê°’(í‰ê· , ì¤‘ì•™ê°’, ìµœë¹ˆê°’ ë“±)ìœ¼ë¡œ ëŒ€ì²´í•©ë‹ˆë‹¤. ì£¼ë¡œ ìˆ˜ì¹˜í˜• ë°ì´í„°ì— ì‚¬ìš©ë©ë‹ˆë‹¤.<br
> - **'IterativeImputer'**: ë‹¤ì¤‘ íšŒê·€(Multiple Regression)ë¥¼ ì‚¬ìš©í•˜ì—¬ ê²°ì¸¡ì¹˜ë¥¼ ì˜ˆì¸¡í•˜ì—¬ ëŒ€ì²´í•©ë‹ˆë‹¤. ë°˜ë³µì ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì˜ˆì¸¡í•˜ê³  ëª¨ë¸ì„ ì—…ë°ì´íŠ¸í•˜ì—¬ ëŒ€ì²´í•©ë‹ˆë‹¤.<br>
> - **'KNNImputer'**: K-ìµœê·¼ì ‘ ì´ì›ƒ(K-Nearest Neighbors) ì•Œê³ ë¦¬ì¦˜ì„ ì‚¬ìš©í•˜ì—¬ ê²°ì¸¡ì¹˜ë¥¼ ì˜ˆì¸¡í•˜ì—¬ ëŒ€ì²´í•©ë‹ˆë‹¤. ì£¼ë³€ ìƒ˜í”Œë“¤ì˜ ê°’ì„ ê¸°ë°˜ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì¶”ì •í•©ë‹ˆë‹¤.<br>
<img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*X87BpgaCcr4IYZqP8lxH0Q.png" width=400>
<div align="right">Image by <a href="https://towardsdatascience.com/implementation-and-limitations-of-imputation-methods-b6576bf31a6c">Implementation and Limitations of Imputation Methods</a></div>

- **ë‚˜ì´(Age) ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ë¥¼ KNNImputerë¥¼ í™œìš©í•˜ì—¬ ëŒ€ì²´í•´ ì£¼ì„¸ìš”.**

In [29]:
df_imputer = df_copy.copy()

In [30]:
# Imputer ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
from sklearn.impute import KNNImputer

# KNNImputerë¥¼ ì‚¬ìš©í•˜ì—¬ ê²°ì¸¡ì¹˜ë¥¼ ì˜ˆì¸¡í•˜ì—¬ ëŒ€ì²´
imputer = KNNImputer(n_neighbors=3)
df_imputer['Age'] = imputer.fit_transform(df[['Age']])

# KNNImputerë¡œ ëŒ€ì²´í•œ ê°’ì˜ ê²°ê³¼ê°€ ì†Œìˆ˜ì ì´ ìˆì„ ìˆ˜ ìˆìœ¼ë‹ˆ ì •ìˆ˜ë¡œ ë³€í™˜
df_imputer['Age'] = df_imputer['Age'].astype(int)

- **ì›ë³¸ ë°ì´í„°ì™€ ê°ê°ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•œ ê²°ê³¼ë¥¼ ë¹„êµí•´ë³´ì„¸ìš”.**

In [31]:
# ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•œ ê²°ê³¼ ë¹„êµë¥¼ ìœ„í•´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ë‚˜ì´(Age)ë§Œ ì¶”ì¶œí•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì„ í•©ì¹©ë‹ˆë‹¤.
df_age = pd.concat([df['Age'], df_simple['Age']], axis=1)
df_age = pd.concat([df_age, df_imputer['Age']], axis=1)
df_age.columns=['Orgin', 'Median', 'KNN']

In [32]:
# describe í•¨ìˆ˜ë¥¼ í™œìš©í•˜ì—¬ ìˆ˜í•™ì  í†µê³„ ë¹„êµ
df_age.describe()

            Orgin      Median         KNN
count  714.000000  891.000000  891.000000
mean    29.699118   29.372806   29.544332
std     14.526497   13.227346   13.013778
min      0.420000    0.420000    0.000000
25%     20.125000   21.000000   22.000000
50%     28.000000   30.000000   29.000000
75%     38.000000   35.000000   35.000000
max     80.000000   80.000000   80.000000

- **ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•œ ê²°ê³¼ë¥¼ ë°ì´í„°í”„ë ˆì„ì— ì €ì¥í•˜ê³ , df_copy(ë°±ì—… ë°ì´í„°)ë„ ì—…ë°ì´íŠ¸ í•´ì£¼ì„¸ìš”.**

In [44]:
df_copy = df_imputer.copy()

---

### <font color="red"> [ì‹¤ìŠµ ë¬¸ì œ]</font>

**<font color=red>[Q]</font> 'df' ë°ì´í„°í”„ë ˆì„ì—ì„œ ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•´ ë³´ì„¸ìš”.**

In [45]:
# ì—¬ê¸°ì— ì…ë ¥í•˜ì„¸ìš”.

df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,False,False,False,False,False,True,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False,False

In [46]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Title            0
dtype: int64

**<font color=red>[Q]</font> ì»¬ëŸ¼ íƒ‘ìŠ¹í•­êµ¬(Embarked)ì˜ ê²°ì¸¡ì¹˜ë¥¼ ìµœë¹ˆê°’ìœ¼ë¡œ ì±„ìš´ í›„ 'df' ë°ì´í„°í”„ë ˆì„ì„ ë³€ê²½í•˜ì„¸ìš”.**

    ğŸ“Œ Hint.
> - ìµœë¹ˆê°’ì€ mode() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ê±°ë‚˜, value_counts()ë¥¼ í™œìš©í•˜ë©´ í™•ì¸ ê°€ëŠ¥í•©ë‹ˆë‹¤.
> - pandasì˜ fillna()ë¥¼ ì‚¬ìš©í•˜ê±°ë‚˜ sklearnì˜ SimpleImputerë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
> - SimpleImputer ì‚¬ìš© ì‹œ ìµœë¹ˆê°’ì€ strategy ì˜µì…˜ì„ 'most_frequent'ë¡œ ì§€ì •í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [47]:
df = df_copy.copy()
df['Embarked'].mode()

0    S
Name: Embarked, dtype: object

In [67]:
# ì—¬ê¸°ì— ì…ë ¥í•˜ì„¸ìš”.
from sklearn.impute import SimpleImputer
df = pd.read_csv("./data/train.csv")

# df = df_copy.copy()


# df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode().var)
simple_imputer = SimpleImputer(strategy='most_frequent')

df['Embarked'] = simple_imputer.fit_transform(df[['Embarked']])[:,0]

In [64]:
df['Embarked'].isnull().sum()

0

**<font color=red>[Q]</font> ê²°ì¸¡ì¹˜ê°€ ë‚¨ì•„ìˆëŠ” ì»¬ëŸ¼ ì¤‘ í•´ë‹¹ ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ê°’ì´ ì „ì²´ ë°ì´í„°(891ê°œ)ì˜ 50% ì´ìƒ(445ê°œë³´ë‹¤ ë§ì€ ê²½ìš°)ì¸ ê²½ìš° í•´ë‹¹ ì—´ì„ ì‚­ì œ í›„ 'df' ë°ì´í„°í”„ë ˆì„ì„ ë³€ê²½í•˜ì„¸ìš”.**

    ğŸ“Œ Hint.
> - ê²°ì¸¡ì¹˜ ì œê±°ëŠ” pandasì˜ dropna()ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
> - thresh ì˜µì…˜ì„ ì‚¬ìš©í•˜ë©´ ì„ê³„ê°’ì„ ì„¤ì •í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [68]:
df = df_copy.copy()

df.dropna(thresh=445, axis=1, inplace=True)

In [ ]:
missing_ratio = df.isnull().sum() / len(df)

missing_ratio

In [ ]:
cols_to_drop = missing_ratio[missing_ratio > 0.5].index

cols_to_drop

In [ ]:
# ì—¬ê¸°ì— ì…ë ¥í•˜ì„¸ìš”.
# ê²°ì¸¡ì¹˜ ë¹„ìœ¨ ê³„ì‚°
missing_ratio = df.isnull().sum() / len(df)

# ê²°ì¸¡ì¹˜ ë¹„ìœ¨ì´ 50% ì´ìƒì¸ ì»¬ëŸ¼ ì„ íƒ
cols_to_drop = missing_ratio[missing_ratio > 0.5].index

# í•´ë‹¹ ì»¬ëŸ¼ ì‚­ì œ
df = df.drop(cols_to_drop, axis=1)

In [ ]:
df.isnull().sum()

**<font color=red>[Q]</font> ìŠ¹ê°ì˜ Id, ì´ë¦„, í‹°ì¼“ ë²ˆí˜¸ì™€ ê°™ì´ ê³ ìœ í•œ ê°’ë“¤ì˜ ê°€ì§„ ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ì„ ì‚­ì œí•´ ì£¼ì„¸ìš”.**

#### ğŸš¨<font color="red"> ê³ ìœ í•œ ê°’ë“¤ì˜ ì»¬ëŸ¼ì„ ì‚­ì œí•˜ëŠ” ì´ìœ </font>
>**ê³ ìœ í•œ ê°’ë“¤ì€ ê°œë³„ì ì¸ ì‹ë³„ì ì •ë³´ë¡œ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì—ê²Œ ìœ ìš©í•œ ì˜ˆì¸¡ íŒ¨í„´ì„ ì œê³µí•˜ì§€ ì•Šìœ¼ë©°, <br>
>ì˜¤íˆë ¤ ê³¼ì í•©ì„ ìœ ë°œí•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì‚­ì œí•˜ì—¬ ëª¨ë¸ì˜ ì¼ë°˜í™” ì„±ëŠ¥ì„ í–¥ìƒì‹œí‚¤ê³ ,<br>
>ë¶ˆí•„ìš”í•œ ë³µì¡ì„±ì„ ì¤„ì´ê¸° ìœ„í•´ ì œê±°í•©ë‹ˆë‹¤.**

    ğŸ“Œ Hint.
> - ì»¬ëŸ¼ ì œê±°ëŠ” pandasì˜ drop()ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
> - axis ì˜µì…˜ì„ ê¼­ 1ë¡œ í•˜ì—¬ ì»¬ëŸ¼ì„ ì‚­ì œí•˜ì…”ì•¼ í•©ë‹ˆë‹¤.

In [ ]:
# ì—¬ê¸°ì— ì…ë ¥í•˜ì„¸ìš”.
df = df.drop(['PassengerId', 'Name', 'Ticket'], axis=1)

df

---

### ğŸ“¥<font color="red"> ë‹¤ìŒ ì‹¤ìŠµì„ ìœ„í•´ ê°€ê³µì´ ì™„ë£Œëœ ë°ì´í„° 'df'ë¥¼ íŒŒì¼ë¡œ ì €ì¥í•©ë‹ˆë‹¤.</font>

- pandasì˜ to_csv ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ë©´ íŒŒì¼ ì €ì¥í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 
- [ì°¸ê³ ] ì»¬ëŸ¼ëª…ì— í•œê¸€ì´ ìˆì„ ê²½ìš° ì €ì¥ ì‹œ encoding ì˜µì…˜ì„ 'utf-8-sig'ë¡œ ì§€ì •í•˜ì—¬ì•¼ í•œê¸€ ê¹¨ì§ì„ ë°©ì§€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
df.to_csv("./data/train_preprocessing_1.csv", encoding='utf-8', index=False)

---

---