## ë°ì´í„° í•¸ë“¤ë§ ë° ì „ì²˜ë¦¬ 

## 03. ë°ì´í„° í•„í„°ë§ê³¼ í¸ì§‘

<img src = "https://images.unsplash.com/photo-1529078155058-5d716f45d604?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" width=80% align="center"/>

<div align="right">ì‚¬ì§„: <a href="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/Wpnoqo2plFA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>ì˜<a href="https://unsplash.com/@mbaumi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mika Baumeister</a>
  </div>

ë°ì´í„° í•¸ë“¤ë§ ë° ì „ì²˜ë¦¬ì—ì„œ <br>
í•„í„°ë§(Filtering)ì€ ë°ì´í„°ì…‹ì—ì„œ ë¶ˆí•„ìš”í•œ ë°ì´í„°ë¥¼ ì œê±°í•˜ê±°ë‚˜ ì„ íƒí•˜ëŠ” ê³¼ì •ì„ ì˜ë¯¸í•©ë‹ˆë‹¤.<br> 
ì´ ê³¼ì •ì€ ë°ì´í„° ë¶„ì„ì˜ ì •í™•ì„±ê³¼ íš¨ìœ¨ì„±ì„ ë†’ì´ëŠ” ì¤‘ìš”í•œ ë‹¨ê³„ì…ë‹ˆë‹¤.

## 0. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
- ### ë°ì´í„° ì„¤ëª…
    1. preprocessing_03.csv : ì‹¤ìŠµ2ë¥¼ í†µí•´ì„œ ë¬´ë¹„ë Œì¦ˆì˜ ë°ì´í„°ì¸ 'movies', 'links', 'ratings', 'users' íŒŒì¼ì„ í•©ì¹œ í†µí•© ë°ì´í„° 
> - movieId : (int) ì˜í™” ì•„ì´ë”” <br>
> - imdbId : (int) IMDb ë°ì´í„°ë² ì´ìŠ¤ ê´€ë¦¬ ì•„ì´ë””<br>
> - tmdbId : (float) TMDB ë°ì´í„°ë² ì´ìŠ¤ ê´€ë¦¬ ì•„ì´ë””<br>
> - title : (object) ì˜í™” ì œëª©ê³¼ ì—°ë„ <br> 
> - genres : (object) ì˜í™”ì˜ ì¥ë¥´, '|'ì„ êµ¬ë¶„ìë¡œ í•œ ë³µìˆ˜ ì¥ë¥´
> - userId : (int) ìœ ì € ì•„ì´ë”” <br>
> - rating : (float) ì˜í™” í‰ì  <br>
> - timestamp : (object) í‰ì ì„ ì‘ì„±í•œ ì‹œê°„ì •ë³´ <br>
> - gender : (object) ì„±ë³„, M/F <br>
> - age : (int) ë‚˜ì´<br>
> - occupation : (object) ì§ì—…,<br>
> - zipcode : (object) ìš°í¸ì½”ë“œ

In [69]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

In [70]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv("./data/preprocessing_03.csv")

In [71]:
# ë°ì´í„° ìƒ˜í”Œ í™•ì¸í•˜ê¸°
df.head()

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp,gender,age,occupation,zipcode
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810
3,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial,22903
4,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator,95350

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106284 entries, 0 to 106283
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   movieId     100854 non-null  float64
 1   imdbId      100854 non-null  float64
 2   tmdbId      100841 non-null  float64
 3   title       100854 non-null  object
 4   genres      100854 non-null  object
 5   userId      106266 non-null  float64
 6   rating      100836 non-null  float64
 7   timestamp   100836 non-null  object
 8   gender      106266 non-null  object
 9   age         106266 non-null  float64
 10  occupation  106266 non-null  object
 11  zipcode     106266 non-null  object
dtypes: float64(6), object(6)
memory usage: 9.7+ MB

---

### 1. ì¡°ê±´ì— ë§ì¶° í•„í„°ë§í•˜ê¸°
ë°ì´í„°í”„ë ˆì„ì—ì„œ ì¡°ê±´ì„ ì¶©ì¡±í•˜ëŠ” í–‰ì„ ê°–ê³  ì˜¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.<br>
ì¡°ê±´ì‹ì€ ==, >, <, != ë“±ì˜ ê¸°í˜¸ë‚˜ ì‚°ì‹ì„ ë„£ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
> df[df['ì¹¼ëŸ¼ëª…'] == ê°’]

#### 1-1 ë‹¨ì¼ì¡°ê±´ í•„í„°ë§í•˜ê¸°
- ë°ì´í„°í”„ë ˆì„ì—ì„œ ì„±ë³„ì´ ë‚¨ìì¸ ê²½ìš°ì˜ ë°ì´í„°ë¥¼ ë½‘ì•„ë³´ê² ìŠµë‹ˆë‹¤. 

#### ğŸ”–  ë²”ì£¼í˜• ë°ì´í„°ëŠ” value_counts() í•¨ìˆ˜ë¥¼ í™œìš©í•˜ë©´ ê°’ì˜ êµ¬ì„±ì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [73]:
# ì„±ë³„ì˜ êµ¬ì„±ì„ í™•ì¸í•©ë‹ˆë‹¤. 
df['gender'].value_counts()

gender
M    74230
F    32036
Name: count, dtype: int64

In [74]:
# ì„±ë³„ì´ ë‚¨ìì¸ì§€ë¥¼ í™•ì¸í•´ ë´…ë‹ˆë‹¤.
df['gender']=='M'

0         False
1          True
2          True
3          True
4          True
          ...
106279    False
106280    False
106281    False
106282    False
106283     True
Name: gender, Length: 106284, dtype: bool

In [75]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ì„±ë³„ì´ ë‚¨ìì¸ ì‚¬ëŒìœ¼ë¡œ í•„í„°ë§í•œ ì •ë³´ë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
df[df['gender']=='M']

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp,gender,age,occupation,zipcode
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810
3,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial,22903
4,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator,95350
6,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,4.0,2000-08-08 03:33:57,M,3.0,K-12 student,48073
...,...,...,...,...,...,...,...,...,...,...,...,...
106273,NaN,NaN,NaN,NaN,NaN,6030.0,NaN,NaN,M,28.0,technician/engineer,32618
106275,NaN,NaN,NaN,NaN,NaN,6032.0,NaN,NaN,M,49.0,executive/managerial,55108
106276,NaN,NaN,NaN,NaN,NaN,6033.0,NaN,NaN,M,52.0,retired,78232
106277,NaN,NaN,NaN,NaN,NaN,6034.0,NaN,NaN,M,28.0,sales/marketing,94117
106283,NaN,NaN,NaN,NaN,NaN,6040.0,NaN,NaN,M,28.0,doctor/health care,11106

#### 1-2. ë³µí•©ì¡°ê±´ í•„í„°ë§í•˜ê¸°
ë°ì´í„°í”„ë ˆì„ì—ì„œ 2ê°€ì§€ ì´ìƒì˜ ì»¬ëŸ¼ì˜ ì¡°ê±´, ë³µí•©ì¡°ê±´ì„ ì¶©ì¡±í•˜ëŠ” í–‰ì„ ê°–ê³  ì˜¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.<br>
ë³µí•©ì¡°ê±´ì€ í•˜ë‚˜ì˜ ì¡°ê±´ì´ ëë‚  ë•Œ ë§ˆë‹¤ ê´„í˜¸('(',')')ë¡œ êµ¬ë¶„í•˜ì—¬ ì£¼ì–´ì•¼ í•˜ë©°,<br>
andì™€ orì„ ì‚¬ìš©í•˜ì§€ ì•Šê³ , **'&', '|'**ì„ ì‚¬ìš©í•´ì•¼ í•©ë‹ˆë‹¤.

- ë°ì´í„°í”„ë ˆì„ì—ì„œ 'userId'ê°€ 5ë²ˆì¸ ê³ ê°ì´ 2ì  ì´í•˜ì˜ í‰ì ì„ ë‚´ë¦° ëª©ë¡ë“¤ì„ ì¶œë ¥í•´ ë³´ê² ìŠµë‹ˆë‹¤.

In [76]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ 'userId'ê°€ 5ì¸ ê³ ê°ì´ ë³¸ ì˜í™” ëª©ë¡ì„ í™•ì¸í•©ë‹ˆë‹¤.
df[df['userId']==5]

len(df[df['userId']==5])

44

In [77]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ê³ ê°ë“¤ì´ í‰ì ì„ 2ì  ì´í•˜ë¥¼ ì¤€ ì˜í™”ë¦¬ìŠ¤íŠ¸ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.  
df[df['rating']<=2]

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp,gender,age,occupation,zipcode
26,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76.0,0.5,2015-08-10 00:12:28,M,39.0,executive/managerial,55413
43,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,132.0,2.0,2006-09-10 20:56:25,M,26.0,technician/engineer,99709
52,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,153.0,2.0,2018-05-05 19:30:42,M,13.0,K-12 student,51537
69,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,193.0,2.0,2015-07-02 17:08:10,F,47.0,scientist,44106
94,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,266.0,2.0,1999-12-20 05:59:02,M,39.0,lawyer,75229
...,...,...,...,...,...,...,...,...,...,...,...,...
100837,190207.0,1680019.0,79159.0,Tilt (2011),Drama|Romance,338.0,1.5,2018-06-28 01:14:41,M,39.0,executive/managerial,55116
100839,190213.0,3977428.0,364002.0,John From (2015),Drama,338.0,1.0,2018-06-28 01:14:38,M,39.0,executive/managerial,55116
100840,190215.0,7293380.0,479871.0,Liquid Truth (2017),Drama,338.0,1.5,2018-06-28 01:14:37,M,39.0,executive/managerial,55116
100841,190219.0,179011.0,48610.0,Bunny (1998),Animation,338.0,1.0,2018-06-28 01:14:33,M,39.0,executive/managerial,55116
100842,190221.0,3333182.0,460631.0,Hommage _ Zgougou (et salut _ Sabine Mamou) (2...,Documentary,338.0,1.0,2018-06-28 01:14:33,M,39.0,executive/managerial,55116

In [78]:
df[(df['userId']==5) & (df['rating']<=2) ]

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp,gender,age,occupation,zipcode
7201,266.0,110322.0,4476.0,Legends of the Fall (1994),Drama|Romance|War|Western,5.0,1.0,1996-11-08 06:41:51,M,30.0,writer,55455
8432,316.0,111282.0,2164.0,Stargate (1994),Action|Adventure|Sci-Fi,5.0,2.0,1996-11-08 06:33:52,M,30.0,writer,55455
10349,357.0,109831.0,712.0,Four Weddings and a Funeral (1994),Comedy|Romance,5.0,2.0,1996-11-08 06:40:38,M,30.0,writer,55455
11318,380.0,111503.0,36955.0,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller,5.0,2.0,1996-11-08 06:32:28,M,30.0,writer,55455

#### 1-3. í•„í„°ë§í•œ ê²°ê³¼ ì¤‘ ì›í•˜ëŠ” ì •ë³´ë§Œ ì¶”ì¶œí•˜ê¸°
ì¡°ê±´ìœ¼ë¡œ í•„í„°ë§í•œ ê²°ê³¼ì—ì„œ ë‹¤ìŒê³¼ ê°™ì€ í˜•íƒœë¡œ ì›í•˜ëŠ” ì •ë³´ë§Œ ì¶”ì¶œí•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.<br>
> df[df['ì¹¼ëŸ¼ëª…'] == ê°’]['ì¶”ì¶œí•  ì»¬ëŸ¼ëª…'] 
- 'genres' ì»¬ëŸ¼ì˜ ì •ë³´ë§Œ ì¶œë ¥í•´ ë³´ê² ìŠµë‹ˆë‹¤.

In [79]:
# 'genres' ë§Œ ì¶œë ¥
df[(df['userId']==5) & (df['rating']<=2)]['title']

7201             Legends of the Fall (1994)
8432                        Stargate (1994)
10349    Four Weddings and a Funeral (1994)
11318                      True Lies (1994)
Name: title, dtype: object

---

### 2. ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°
ë°ì´í„°í”„ë ˆì„ì— ì»¬ëŸ¼ëª…ì„ ì „ì²´ë¥¼ ë³€ê²½í•˜ê±°ë‚˜ ì¼ë¶€ë§Œ ë³€ê²½í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

#### 2-1. ì „ì²´ ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°
columnsë¥¼ ì‚¬ìš©í•˜ì—¬ ì „ì²´ ì»¬ëŸ¼ëª… í™•ì¸í•˜ê³  ì „ì²´ ë³€ê²½í•  ìˆ˜ ìˆìŠ¤ë‹ˆë‹¤.<br>
í•œ ê°œì˜ ì»¬ëŸ¼ëª…ë§Œ ë°”ê¾¸ë ¤ê³  í•´ë„ ëª¨ë“  ì»¬ëŸ¼ì„ ì…ë ¥í•´ì•¼ ë˜ëŠ” ë²ˆê±°ë¡œì›€ì´ ìˆìŠµë‹ˆë‹¤. <br> 
í•˜ë‚˜ë¼ë„ ëˆ„ë½ë˜ë©´ ì˜¤ë¥˜ ë©”ì‹œì§€ê°€ ë°œìƒí•©ë‹ˆë‹¤.

- ì˜í™” ì œëª© ì»¬ëŸ¼ 'title'ë£° í•œê¸€ 'ì˜í™”ì œëª©' ë¡œ ë³€ê²½í•´ ë³´ì„¸ìš”.

In [80]:
# ê¸°ì¡´ ì»¬ëŸ¼ëª… í™•ì¸í•˜ê¸°
df.columns

Index(['movieId', 'imdbId', 'tmdbId', 'title', 'genres', 'userId', 'rating',
       'timestamp', 'gender', 'age', 'occupation', 'zipcode'],
      dtype='object')

In [81]:
# ìƒˆë¡œìš´ ì»¬ëŸ¼ëª… Listë¥¼ ì‘ì„±í•˜ì—¬ ëŒ€ì²´í•˜ê¸°
df.columns = ['movieId', 'imdbId', 'tmdbId', 'ì˜í™”ì œëª©', 'genres', 'userId', 'rating',
       'timestamp', 'gender', 'age', 'occupation', 'zipcode']

In [82]:
df.head(3)

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,genres,userId,rating,timestamp,gender,age,occupation,zipcode
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810

#### 2-2. ì„ íƒí•˜ì—¬ ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°
rename í•¨ìˆ˜ì˜ columns ì˜µì…˜ì„ í†µí•´ ì›í•˜ëŠ” ì»¬ëŸ¼ì˜ ì»¬ëŸ¼ëª…ë§Œ ë³€ê²½í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.<br>
columnsëŠ” dictionary í˜•íƒœë¡œ ê¸°ì¡´ ì»¬ëŸ¼ëª…ê³¼ ìƒˆ ì»¬ëŸ¼ëª…ìœ¼ë¡œ ë§ëŒ€ì‘í•˜ì—¬ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
> df.rename(columns={'ê¸°ì¡´ ì»¬ëŸ¼ëª…' : 'ìƒˆ ì»¬ëŸ¼ëª…'})
- 'zipcode' ì»¬ëŸ¼ì˜ ì»¬ëŸ¼ëª…ì„ 'ìš°í¸ë²ˆí˜¸'ë¡œ ë³€ê²½í•´ ë³´ì„¸ìš”.

In [83]:
df = df.rename(columns={'zipcode':'ìš°í¸ë²ˆí˜¸'})

In [84]:
df.head(3)

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810

---

### 3.  ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±í•˜ê¸°
ë°ì´í„°í”„ë ˆì„ì— ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ê¸°ì¡´ ì»¬ëŸ¼ ì •ë³´ì˜ ë°ì´í„°ë¥¼ ë¶„ë¦¬í•˜ê±°ë‚˜ í†µí•©í•˜ì—¬ ìƒˆë¡œìš´ ê°’ì„ ìƒì„±í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

#### 3-1. ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ê¸°ë³¸ê°’ ì„¸íŒ…í•˜ê¸° 
> df['ìƒˆë¡œìš´ ì»¬ëŸ¼ëª…'] = ê°’ 
- ë°ì´í„° í”„ë ˆì„ì— 'New' ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ê¸°ë³¸ê°’ìœ¼ë¡œ 0ì„ ì„¸íŒ… í•´ë´…ì‹œë‹¤.

In [85]:
df['new'] = 0

#### 3-2. ì¸ë±ì‹±ì„ í™œìš©í•˜ì—¬ ì›í•˜ëŠ” ì •ë³´ë¥¼ ê°€ì ¸ì™€ì„œ ìƒˆ ì»¬ëŸ¼ ìƒì„±í•˜ê¸° 
- 'ì˜í™”ì œëª©' ì»¬ëŸ¼ì—ì„œ ì œì‘ë…„ë„ë¥¼ ê°€ì ¸ì™€ì„œ ê·¸ ì •ë³´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼ 'year'ì— ì €ì¥í•´ ë³´ê² ìŠµë‹ˆë‹¤.

#### ğŸ”– Pandasì—ì„œ ë¬¸ìì—´ ê´€ë ¨ í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ê±°ë‚˜ ì „ì²˜ë¦¬ë¥¼ í•˜ê¸° ìœ„í•´ì„œëŠ” í•¨ìˆ˜ ë° ëª…ë ¹ì–´ ì•ì— strì„ ë¶™ì—¬ì£¼ì–´ì•¼ í•œë‹¤.

In [86]:
df.head(3)

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸,new
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067,0
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455,0
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810,0

In [87]:
# df['ì˜í™”ì œëª©']ì˜ ì •ë³´ë¥¼ ë¬¸ìì—´ ì²˜ë¦¬í•œ í›„ ê´„í˜¸'(',')'ë¥¼ ì œì™¸í•œ 4ìë¦¬ì˜ ìˆ«ìë§Œ ê°€ì ¸ì˜µë‹ˆë‹¤.
df['ì˜í™”ì œëª©'].str[-5:-1]

0         1995
1         1995
2         1995
3         1995
4         1995
          ...
106279     NaN
106280     NaN
106281     NaN
106282     NaN
106283     NaN
Name: ì˜í™”ì œëª©, Length: 106284, dtype: object

In [88]:
# ê°€ì ¸ì˜¨ ë°ì´í„°ë¥¼ 'year' ì´ë¼ëŠ” ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ì €ì¥í•©ë‹ˆë‹¤.
df['year'] = df['ì˜í™”ì œëª©'].str[-5:-1]

In [89]:
df.head(3)

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸,new,year
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067,0,1995
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455,0,1995
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810,0,1995

#### 3-3. ê¸°ì¡´ì˜ ë°ì´í„° ë¶„ë¦¬í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ ë§Œë“¤ê¸°
split() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ êµ¬ë¶„ìë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë¶„ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
> str.split('êµ¬ë¶„ì')

- 'genres' ì»¬ëŸ¼ì˜ ë°ì´í„°ë¥¼ êµ¬ë¶„ì '|' ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬í•´ ë³´ê² ìŠµë‹ˆë‹¤.

In [90]:
# ëª…ë ¹ì–´ ì•ì— strì„ ë¶™ì´ê³  split() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. 
df['genres'].str.split('|')

0         [Adventure, Animation, Children, Comedy, Fantasy]
1         [Adventure, Animation, Children, Comedy, Fantasy]
2         [Adventure, Animation, Children, Comedy, Fantasy]
3         [Adventure, Animation, Children, Comedy, Fantasy]
4         [Adventure, Animation, Children, Comedy, Fantasy]
                                ...
106279                                                  NaN
106280                                                  NaN
106281                                                  NaN
106282                                                  NaN
106283                                                  NaN
Name: genres, Length: 106284, dtype: object

##### ğŸ“Œ expand ì˜µì…˜ì„ í™œìš©í•˜ë©´, ë¶„ë¦¬í•œ Listë¥¼ ë°”ë¡œ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ìƒì„±í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.

In [91]:
# expand=Trueë¡œ í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•©ë‹ˆë‹¤.
df['genres'].str.split('|', expand=True).head()

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
2,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
3,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
4,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None

---

### 4. ë¶ˆ í•„ìš”í•œ ì»¬ëŸ¼ ì‚­ì œí•˜ê¸°

#### 4-1. íŠ¹ì • ì»¬ëŸ¼ë§Œ ì‚­ì œí•˜ê¸°
pandasì˜ drop() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ê³  columns ì˜µì…˜ì„ í™œìš©í•©ë‹ˆë‹¤.
> df.drop(columns=['ì»¬ëŸ¼ëª…1', 'ì»¬ëŸ¼ëª…2])
- ë°ì´í„°í”„ë ˆì„ dfì—ì„œ 'new' ì»¬ëŸ¼ì„ ì‚­ì œí•´ ë³´ê² ìŠµë‹ˆë‹¤.

In [92]:
df.drop(columns=['new'])

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸,year
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067,1995
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455,1995
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810,1995
3,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial,22903,1995
4,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator,95350,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106279,NaN,NaN,NaN,NaN,NaN,6036.0,NaN,NaN,F,30.0,scientist,32603,NaN
106280,NaN,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,F,46.0,academic/educator,76006,NaN
106281,NaN,NaN,NaN,NaN,NaN,6038.0,NaN,NaN,F,79.0,academic/educator,14706,NaN
106282,NaN,NaN,NaN,NaN,NaN,6039.0,NaN,NaN,F,48.0,other,01060,NaN
106283,NaN,NaN,NaN,NaN,NaN,6040.0,NaN,NaN,M,28.0,doctor/health care,11106,NaN

In [93]:
df.head(3)

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸,new,year
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067,0,1995
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455,0,1995
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810,0,1995

##### ğŸ“Œ inplace ì˜µì…˜ì„ í™œìš©í•˜ë©´, ë³€ê²½í•œ ë‚´ìš©ì„ ë°ì´í„°í”„ë ˆì„ì— ë°”ë¡œ ì ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [94]:
# inplace=Trueë¡œ í•˜ì—¬ ë³€ê²½ ë‚´ìš©ì„ ë°”ë¡œ ì ìš©
df.drop(columns=['new'], inplace=True)

In [95]:
df.head()

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸,year
0,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067,1995
1,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455,1995
2,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810,1995
3,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,2017-11-13 12:59:30,M,29.0,executive/managerial,22903,1995
4,1.0,114709.0,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,2011-05-18 05:28:03,M,52.0,academic/educator,95350,1995

#### 4-2. í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì›í•˜ëŠ” ìˆœì„œëŒ€ë¡œ ì €ì¥í•˜ëŠ” ë°©ë²•
ë°ì´í„°ë¥¼ ìƒˆë¡œ ìƒì„±í•˜ê³ , ì‚­ì œí•˜ë‹¤ ë³´ë©´ ì»¬ëŸ¼ì˜ ìˆœì„œê°€ ë’¤ì£½ë°•ì£½ì´ ë˜ëŠ” ê²½ìš°ê°€ ìˆìŠµë‹ˆë‹¤.<br>
ì´ëŸ° ê²½ìš° ì›í•˜ëŠ” ìˆœì„œëŒ€ë¡œ í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ë½‘ì•„ì„œ ë‹¤ì‹œ ì €ì¥í•˜ëŠ” ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
- ë°ì´í„°í”„ë ˆì„ dfì—ì„œ 'new' ì»¬ëŸ¼ì€ ì‚­ì œí•˜ê³  'year' ì»¬ëŸ¼ì„ 'ì˜í™”ì œëª©' ì»¬ëŸ¼ ë‹¤ìŒ ìˆœì„œë¡œ ë³€ê²½í•´ ì£¼ì„¸ìš”.

In [96]:
df.columns

Index(['movieId', 'imdbId', 'tmdbId', 'ì˜í™”ì œëª©', 'genres', 'userId', 'rating',
       'timestamp', 'gender', 'age', 'occupation', 'ìš°í¸ë²ˆí˜¸', 'year'],
      dtype='object')

In [97]:
# dfì˜ ì»¬ëŸ¼ëª…ì„ í•„ìš”í•œ ì»¬ëŸ¼ê³¼ ì›í•˜ëŠ” ìˆœì„œë¡œ ë¦¬ìŠ¤íŠ¸í™” í•©ë‹ˆë‹¤.
new_columns = ['movieId', 'imdbId', 'tmdbId', 'ì˜í™”ì œëª©', 'year', 'genres', 'userId', 'rating', 'timestamp', 'gender',
       'age', 'occupation', 'ìš°í¸ë²ˆí˜¸']

In [98]:
# dfì—ì„œ new_coluns ë¦¬ìŠ¤íŠ¸ì˜ ì»¬ëŸ¼ë“¤ë§Œ ë½‘ì•„ì„œ ë‹¤ì‹œ ì €ì¥í•´ ì¤ë‹ˆë‹¤.
df = df[new_columns]

In [99]:
df.head(3)

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,year,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸
0,1.0,114709.0,862.0,Toy Story (1995),1995,Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,2000-07-30 18:45:03,F,2.0,K-12 student,48067
1,1.0,114709.0,862.0,Toy Story (1995),1995,Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,1996-11-08 06:36:02,M,30.0,writer,55455
2,1.0,114709.0,862.0,Toy Story (1995),1995,Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,2005-01-25 06:52:26,M,39.0,academic/educator,06810

---

## ì‹¤ìŠµê³¼ì œ

#### Q1. ë°ì´í„°í”„ë ˆì„ 'df' ì—ì„œ 'userId' 100ë²ˆì˜ ê³ ê°ì´ ë³¸ ì˜í™” ì¤‘ 2000ë…„ëŒ€ ì œì‘í•œ ì˜í™”ë“¤ì˜ ì •ë³´ë¥¼ ì¶”ì¶œí•´ ì£¼ì„¸ìš”.

In [100]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.
df = df[(df['userId']==100)&(df['year'].str[0]=='2')]
df.head()

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,year,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸
55030,3512.0,122459.0,2621.0,Return to Me (2000),2000,Drama|Romance,100.0,4.0,2004-11-11 14:42:23,M,36.0,technician/engineer,95401
55261,3536.0,171433.0,4967.0,Keeping the Faith (2000),2000,Comedy|Drama|Romance,100.0,4.0,2004-11-11 14:45:02,M,36.0,technician/engineer,95401
56635,3717.0,187078.0,9679.0,Gone in 60 Seconds (2000),2000,Action|Crime,100.0,4.0,2004-11-11 15:14:16,M,36.0,technician/engineer,95401
57006,3753.0,187393.0,2024.0,"Patriot, The (2000)",2000,Action|Drama|War,100.0,4.5,2004-11-11 14:53:28,M,36.0,technician/engineer,95401
58127,3911.0,218839.0,13785.0,Best in Show (2000),2000,Comedy,100.0,3.5,2004-11-11 15:13:27,M,36.0,technician/engineer,95401

#### Q2. ì•ì˜ ë¬¸ì œ Q1ì—ì„œ í•„í„°í•œ ë°ì´í„°í”„ë ˆì„ì—ì„œ 'Comedy' ì¥ë¥´ ì´ë©´ì„œ í‰ì ì´ 4.0 ë„˜ëŠ” ì˜í™”ë¡œ ì¶”ê°€ í•„í„°ë§í•´ë³´ì„¸ìš”.

##### ğŸ“Œ Q1ì—ì„œ í•„í„°ë§í•œ ë°ì´í„°í”„ë ˆì„ì„ ì„ì‹œ ë³€ìˆ˜ ë°ì´í„°í”„ë ˆì„ì— ì €ì¥í•´ì„œ ì‚¬ìš©í•˜ì‹œë©´ í¸ë¦¬í•©ë‹ˆë‹¤.<br> &emsp; ë°ì´í„°í”„ë ˆì„ì˜ ë¬¸ìì—´ ì†ì—ì„œ íŠ¹ì • ë‹¨ì–´ë¥¼ ì°¾ëŠ” ê²ƒì€ str.contain('ë‹¨ì–´') ë¥¼ ì‚¬ìš©í•´ ë³´ì„¸ìš”.

In [101]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.
df[(df['genres'].str.contains('Comedy')) & (df['rating']>4.0)]

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,year,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸
60470,4161.0,236493.0,6073.0,"Mexican, The (2001)",2001,Action|Comedy,100.0,4.5,2004-11-11 15:13:24,M,36.0,technician/engineer,95401
60985,4246.0,243155.0,634.0,Bridget Jones's Diary (2001),2001,Comedy|Drama|Romance,100.0,4.5,2004-11-11 14:48:38,M,36.0,technician/engineer,95401
66826,5380.0,278500.0,9026.0,"Importance of Being Earnest, The (2002)",2002,Comedy|Drama|Romance,100.0,4.5,2004-11-11 14:45:34,M,36.0,technician/engineer,95401
68065,5620.0,256415.0,11529.0,Sweet Home Alabama (2002),2002,Comedy|Romance,100.0,5.0,2004-11-11 15:29:42,M,36.0,technician/engineer,95401

#### Q3. ë°ì´í„°í”„ë ˆì„ dfì—ì„œ 'TITLE' ì»¬ëŸ¼ì—ëŠ” ì•„ì§ ê´„í˜¸() ì•ˆì— ì œì‘ë…„ë„ê°€ ë‚¨ì•„ ìˆìŠµë‹ˆë‹¤. <br> &emsp; ì œì‘ë…„ë„ëŠ” ì‚­ì œí•˜ê³  ì˜í™” ì œëª©ë§Œ ë‚¨ê¸°ê³  ì†Œë¬¸ì ì»¬ëŸ¼ëª… 'title' ì„ ìƒˆë¡œ ë§Œë“¤ì–´ì„œ ì €ì¥í•´ì£¼ì„¸ìš”.  

ğŸ“Œ ë¬¸ìì—´ ê´€ë ¨ í•¨ìˆ˜ë¥¼ ì‚¬ìš©ì„ ìœ„í•´ .strì„ ê¼­ ë¶™ì—¬ì¤˜ì•¼ í•©ë‹ˆë‹¤. 'ì˜í™”ì œëª©'ì»¬ëŸ¼ì—ëŠ” ***(ì œì‘ë…„ë„)*** ì•ì— ê³µë°±ì´ ë“¤ì–´ê°€ ìˆìŠµë‹ˆë‹¤. [ì˜ˆ] Toy Story (1995)

In [102]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.
df['title'] = df['ì˜í™”ì œëª©'].str[0:-6]

df.head()

,movieId,imdbId,tmdbId,ì˜í™”ì œëª©,year,genres,userId,rating,timestamp,gender,age,occupation,ìš°í¸ë²ˆí˜¸,title
55030,3512.0,122459.0,2621.0,Return to Me (2000),2000,Drama|Romance,100.0,4.0,2004-11-11 14:42:23,M,36.0,technician/engineer,95401,Return to Me
55261,3536.0,171433.0,4967.0,Keeping the Faith (2000),2000,Comedy|Drama|Romance,100.0,4.0,2004-11-11 14:45:02,M,36.0,technician/engineer,95401,Keeping the Faith
56635,3717.0,187078.0,9679.0,Gone in 60 Seconds (2000),2000,Action|Crime,100.0,4.0,2004-11-11 15:14:16,M,36.0,technician/engineer,95401,Gone in 60 Seconds
57006,3753.0,187393.0,2024.0,"Patriot, The (2000)",2000,Action|Drama|War,100.0,4.5,2004-11-11 14:53:28,M,36.0,technician/engineer,95401,"Patriot, The"
58127,3911.0,218839.0,13785.0,Best in Show (2000),2000,Comedy,100.0,3.5,2004-11-11 15:13:27,M,36.0,technician/engineer,95401,Best in Show

#### Q4. ë°ì´í„°í”„ë ˆì„ 'df'ì—ì„œ ë¶ˆ í•„ìš”í•œ ì»¬ëŸ¼ 'ì˜í™”ì œëª©','ìš°í¸ë²ˆí˜¸' ë¥¼ ì‚­ì œí•˜ê³  ë³€ê²½ëœ ê°’ì„ ë°ì´í„°í”„ë ˆì„ dfì— ë°”ë¡œ ì ìš©í•´ ì£¼ì„¸ìš”.

In [103]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.
df.drop(columns=['ì˜í™”ì œëª©', 'ìš°í¸ë²ˆí˜¸'], inplace=True)
df.head()

,movieId,imdbId,tmdbId,year,genres,userId,rating,timestamp,gender,age,occupation,title
55030,3512.0,122459.0,2621.0,2000,Drama|Romance,100.0,4.0,2004-11-11 14:42:23,M,36.0,technician/engineer,Return to Me
55261,3536.0,171433.0,4967.0,2000,Comedy|Drama|Romance,100.0,4.0,2004-11-11 14:45:02,M,36.0,technician/engineer,Keeping the Faith
56635,3717.0,187078.0,9679.0,2000,Action|Crime,100.0,4.0,2004-11-11 15:14:16,M,36.0,technician/engineer,Gone in 60 Seconds
57006,3753.0,187393.0,2024.0,2000,Action|Drama|War,100.0,4.5,2004-11-11 14:53:28,M,36.0,technician/engineer,"Patriot, The"
58127,3911.0,218839.0,13785.0,2000,Comedy,100.0,3.5,2004-11-11 15:13:27,M,36.0,technician/engineer,Best in Show

#### Q5. ë°ì´í„°í”„ë ˆì„ 'df' ì˜ ì»¬ëŸ¼ëª…ë“¤ì„ ì²« ê¸€ìëŠ” ëŒ€ë¬¸ìë¡œ ëª¨ë‘ ë³€ê²½í•´ ì£¼ì„¸ìš”.
##### ğŸ“Œ df.columns ë¥¼ í™œìš©í•˜ë©´ ê¸°ì¡´ì˜ ì»¬ëŸ¼ëª…ë“¤ì„ í™•ì¸ ë° ë³€ê²½ ê°€ëŠ¥

In [104]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.
df.columns = df.columns.str.capitalize()
df.head()

,Movieid,Imdbid,Tmdbid,Year,Genres,Userid,Rating,Timestamp,Gender,Age,Occupation,Title
55030,3512.0,122459.0,2621.0,2000,Drama|Romance,100.0,4.0,2004-11-11 14:42:23,M,36.0,technician/engineer,Return to Me
55261,3536.0,171433.0,4967.0,2000,Comedy|Drama|Romance,100.0,4.0,2004-11-11 14:45:02,M,36.0,technician/engineer,Keeping the Faith
56635,3717.0,187078.0,9679.0,2000,Action|Crime,100.0,4.0,2004-11-11 15:14:16,M,36.0,technician/engineer,Gone in 60 Seconds
57006,3753.0,187393.0,2024.0,2000,Action|Drama|War,100.0,4.5,2004-11-11 14:53:28,M,36.0,technician/engineer,"Patriot, The"
58127,3911.0,218839.0,13785.0,2000,Comedy,100.0,3.5,2004-11-11 15:13:27,M,36.0,technician/engineer,Best in Show

#### Q6. ë°ì´í„°í”„ë ˆì„ 'df'ì˜ ì»¬ëŸ¼ ìˆœì„œë¥¼ 'Title' ì»¬ëŸ¼ì´ 'Year' ì»¬ëŸ¼ ë°”ë¡œ ì•ì— ì˜¤ë„ë¡ ìˆœì„œë¥¼ ë³€ê²½í•©ë‹ˆë‹¤.

In [105]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.
new_columns = ['Movieid', 'Imdbid', 'Tmdbid', 'Title', 'Year', 'Genres', 'Userid',
       'Rating', 'Timestamp', 'Gender', 'Age', 'Occupation']
df = df[new_columns]

df.head()

,Movieid,Imdbid,Tmdbid,Title,Year,Genres,Userid,Rating,Timestamp,Gender,Age,Occupation
55030,3512.0,122459.0,2621.0,Return to Me,2000,Drama|Romance,100.0,4.0,2004-11-11 14:42:23,M,36.0,technician/engineer
55261,3536.0,171433.0,4967.0,Keeping the Faith,2000,Comedy|Drama|Romance,100.0,4.0,2004-11-11 14:45:02,M,36.0,technician/engineer
56635,3717.0,187078.0,9679.0,Gone in 60 Seconds,2000,Action|Crime,100.0,4.0,2004-11-11 15:14:16,M,36.0,technician/engineer
57006,3753.0,187393.0,2024.0,"Patriot, The",2000,Action|Drama|War,100.0,4.5,2004-11-11 14:53:28,M,36.0,technician/engineer
58127,3911.0,218839.0,13785.0,Best in Show,2000,Comedy,100.0,3.5,2004-11-11 15:13:27,M,36.0,technician/engineer

---