## ë°ì´í„° í•¸ë“¤ë§ ë° ì „ì²˜ë¦¬ 

## 08. ë°ì´í„° ìŠ¤ì¼€ì¼ë§í•˜ê¸°

<img src = "https://images.unsplash.com/photo-1507344694028-6dab396bed2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1757&q=80" width=80% align="center"/>

<div align="right">ì‚¬ì§„: <a href="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/4i2crgbc0Gs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>ì˜<a href="https://unsplash.com/@wanderfleur?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Wander Fleur</a>
  
</div>

## 0. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
- ### ë°ì´í„° ì„¤ëª…
1. preprocessing_08.csv : ì´ì „ ì‹¤ìŠµì—ì„œ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ˜ì¹˜í˜•ìœ¼ë¡œ ë³€ê²½ ì™„ë£Œí•œ ë°ì´í„°
> - MovieId : (int) ì˜í™” ì•„ì´ë”” <br>
> - ImdbId : (int) IMDb ë°ì´í„°ë² ì´ìŠ¤ ê´€ë¦¬ ì•„ì´ë””<br>
> - TmdbId : (float) TMDB ë°ì´í„°ë² ì´ìŠ¤ ê´€ë¦¬ ì•„ì´ë””<br>
> - Title : (str) ì˜í™” ì œëª© <br> 
> - Year : (int) ì œì‘ë…„ë„ <br> 
> - UserId : (int) ìœ ì € ì•„ì´ë”” <br>
> - Rating : (float) ì˜í™” í‰ì  
> - Gender : (int) ì„±ë³„, F:0, M:1 <br>
> ---
> (ì˜í™” ì¥ë¥´ ì»¬ëŸ¼) <br>
> - Genre_adventure <br>
> &emsp;&emsp;&emsp;â‡£<br>
> - Genre_Western<br>
> ---
> (ê³ ê° ì§ì—… ì»¬ëŸ¼) <br>
> - Job_academic/educator <br>
> &emsp;&emsp;&emsp;â‡£<br>
> - Job_writer <br>

In [1]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv("./data/preprocessing_08.csv")

In [3]:
df.head()

,MovieId,ImdbId,TmdbId,Title,Year,UserId,Rating,Gender,Age,Genre_Action,...,Job_other,Job_programmer,Job_retired,Job_sales/marketing,Job_scientist,Job_self-employed,Job_technician/engineer,Job_tradesman/craftsman,Job_unemployed,Job_writer
0,1,114709,862,Toy Story,1995,1,4.0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,1,114709,862,Toy Story,1995,5,4.0,1,30,0,...,0,0,0,0,0,0,0,0,0,1
2,1,114709,862,Toy Story,1995,7,4.5,1,39,0,...,0,0,0,0,0,0,0,0,0,0
3,1,114709,862,Toy Story,1995,15,2.5,1,29,0,...,0,0,0,0,0,0,0,0,0,0
4,1,114709,862,Toy Story,1995,17,4.5,1,52,0,...,0,0,0,0,0,0,0,0,0,0

---

### 1. ë°ì´í„° ì •ê·œí™”(Normalization)
ë°ì´í„°ë¥¼ ì¼ì • ë²”ìœ„ë¡œ ë³€í™˜í•˜ëŠ” ìŠ¤ì¼€ì¼ë§ ë°©ë²•ìœ¼ë¡œ, ë°ì´í„°ë¥¼ 0ê³¼ 1 ì‚¬ì´ì˜ ê°’ìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ê²ƒì„ ì˜ë¯¸í•©ë‹ˆë‹¤. <br> 
ì •ê·œí™”ëŠ” ë‹¤ì–‘í•œ ìŠ¤ì¼€ì¼ì„ ê°€ì§„ ë³€ìˆ˜ë“¤ì„ ë™ì¼í•œ ë²”ìœ„ë¡œ ë§ì¶°ì¤Œìœ¼ë¡œì¨, ë³€ìˆ˜ ê°„ì˜ í¬ê¸° ì°¨ì´ë¥¼ ì œê±°í•˜ì—¬ ëª¨ë¸ì´ ê° ë³€ìˆ˜ë¥¼ ê³µí‰í•˜ê²Œ ì²˜ë¦¬í•  ìˆ˜ ìˆë„ë¡ ë•ìŠµë‹ˆë‹¤. <br>
ëŒ€í‘œì ìœ¼ë¡œ Min-Max Scalerê°€ ìˆìŠµë‹ˆë‹¤.

#### 1-1. Min-Max Scaler ì‚¬ìš©í•˜ê¸°
- #### 'Age' ì»¬ëŸ¼ê³¼ 'Rating' ì»¬ëŸ¼ Min-Max Scaling í•˜ê¸°

In [3]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
from sklearn.preprocessing import MinMaxScaler

In [4]:
# MinMaxScaler í˜¸ì¶œí•˜ê¸°
min_max_scaler = MinMaxScaler()

In [5]:
# MinMaxScaler í˜¸ì¶œí•˜ê¸°
min_max_scaler = MinMaxScaler()

# 'Age', 'Rating' ì»¬ëŸ¼ì˜ ë°ì´í„°ë¥¼ Min Max Scaling í•˜ê¸°
df_normalized = min_max_scaler.fit_transform(df[['Age', 'Rating']])

df_normalized

array([[0.00917431, 0.77777778],
       [0.26605505, 0.77777778],
       [0.34862385, 0.88888889],
       ...,
       [0.29357798, 0.66666667],
       [0.29357798, 0.66666667],
       [0.28440367, 0.77777778]])

### 2. ë°ì´í„° í‘œì¤€í™”(Standardization)
ë°ì´í„°ë¥¼ í‰ê· ì´ 0ì´ê³  í‘œì¤€í¸ì°¨ê°€ 1ì¸ ë¶„í¬ë¡œ ë³€í™˜í•˜ëŠ” ìŠ¤ì¼€ì¼ë§ ë°©ë²•ìœ¼ë¡œ, ë°ì´í„°ë¥¼ í‘œì¤€ì •ê·œë¶„í¬ì— ë”°ë¥´ëŠ” ê°’ìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ê²ƒì„ ì˜ë¯¸í•©ë‹ˆë‹¤.  <br> 
í‘œì¤€í™”ëŠ” ë°ì´í„°ì˜ ë¶„í¬ë¥¼ ì¤‘ì‹¬ìœ¼ë¡œ ì¡°ì ˆí•˜ì—¬ ì´ìƒì¹˜ì— ëœ ë¯¼ê°í•˜ê²Œ ë§Œë“¤ì–´ì¤Œìœ¼ë¡œì¨, ëª¨ë¸ì˜ ì•ˆì •ì„±ì„ ë†’ì´ê³  ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ê°œì„ í•˜ëŠ” ë° ë„ì›€ì„ ì¤ë‹ˆë‹¤. <br>

#### 2-1. Standard Scaler ì‚¬ìš©í•˜ê¸°
- #### 'Age' ì»¬ëŸ¼ê³¼ 'Rating' ì»¬ëŸ¼ Standard Scaling í•˜ê¸°

In [6]:
df.describe()

,MovieId,ImdbId,TmdbId,Year,UserId,Rating,Gender,Age,Genre_Action,Genre_Adventure,...,Job_other,Job_programmer,Job_retired,Job_sales/marketing,Job_scientist,Job_self-employed,Job_technician/engineer,Job_tradesman/craftsman,Job_unemployed,Job_writer
count,100823.000000,1.008230e+05,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.0000,100823.000000,...,100823.000000,100823.000000,100823.000000,100823.00000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000
mean,19412.974083,3.511409e+05,20054.997144,1994.441298,326.184769,3.501597,0.697529,33.399264,0.3038,0.239608,...,0.089593,0.070252,0.018071,0.04492,0.021007,0.036748,0.097686,0.007588,0.012100,0.040021
std,35490.865272,6.207026e+05,53099.343977,14.367674,182.641372,1.042330,0.459330,15.584995,0.4599,0.426846,...,0.285599,0.255572,0.133210,0.20713,0.143409,0.188142,0.296891,0.086776,0.109335,0.196009
min,1.000000,4.170000e+02,2.000000,1902.000000,1.000000,0.500000,0.000000,1.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1199.000000,9.968500e+04,712.000000,1990.000000,177.000000,3.000000,0.000000,23.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2991.000000,1.187550e+05,6957.000000,1997.000000,325.000000,3.500000,1.000000,32.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8044.500000,3.149790e+05,11635.000000,2003.000000,477.000000,4.000000,1.000000,42.000000,1.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,193609.000000,8.391976e+06,525662.000000,2018.000000,611.000000,5.000000,1.000000,110.000000,1.0000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
from sklearn.preprocessing import StandardScaler

# StandardScaler í˜¸ì¶œí•˜ê¸°
standard_scaler = StandardScaler()

# 'Age', 'Rating' ì»¬ëŸ¼ì˜ ë°ì´í„°ë¥¼ StandardScaling í•˜ê¸°
df_standardized = standard_scaler.fit_transform(df[['Age', 'Rating']])

df_standardized

array([[-2.01472118e+00,  4.78164901e-01],
       [-2.18112414e-01,  4.78164901e-01],
       [ 3.59368974e-01,  9.57861818e-01],
       ...,
       [-2.56186180e-02, -1.53201558e-03],
       [-2.56186180e-02, -1.53201558e-03],
       [-8.97832167e-02,  4.78164901e-01]])

---

## ì‹¤ìŠµë¬¸ì œ

#### Q1. ë°ì´í„°í”„ë ˆì„ 'df' ì˜ ì»¬ëŸ¼ ì¤‘ ìˆ«ìë¡œ í‘œí˜„ëœ ë²”ì£¼í˜• ë°ì´í„°('MovieId', 'UserId' ë“±)ê°€ ì•„ë‹Œ ìˆ˜ì¹˜í˜• íŠ¹ì„±ì„ ê°€ì§„ ì»¬ëŸ¼ì„ ì„ ë³„í•´ì„œ 'df_num' ë³€ìˆ˜ë¥¼ ë§Œë“¤ì–´ ì €ì¥í•˜ì„¸ìš”.
ğŸ“Œ íƒìƒ‰ì  ë¶„ì„ì„ í•˜ë©´ í•´ë‹¹ ì»¬ëŸ¼ì„ ì‰½ê²Œ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [9]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.

#### Q2. ë°ì´í„°í”„ë ˆì„ 'df_num'ì„ Min_Max Scalerë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ì •ê·œí™” í•´ë³´ì„¸ìš”.

In [10]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°.


# ìŠ¤ì¼€ì¼ëŸ¬ í˜¸ì¶œí•˜ê¸°


# ìŠ¤ì¼€ì¼ë§í•˜ê¸°

#### Q3. ìŠ¤ì¼€ì¼ë§ ëœ ë°ì´í„°ë¥¼ ê¸°ì¡´ì˜ ë°ì´í„°í”„ë ˆì„ 'df'ì— ì ìš©í•´ ì£¼ì„¸ìš”.

In [11]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”.

---