## Îç∞Ïù¥ÌÑ∞ Ìï∏Îì§ÎßÅ Î∞è Ï†ÑÏ≤òÎ¶¨ 

## 08. Îç∞Ïù¥ÌÑ∞ Ïä§ÏºÄÏùºÎßÅÌïòÍ∏∞

<img src = "https://images.unsplash.com/photo-1507344694028-6dab396bed2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1757&q=80" width=80% align="center"/>

<div align="right">ÏÇ¨ÏßÑ: <a href="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/4i2crgbc0Gs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>Ïùò<a href="https://unsplash.com/@wanderfleur?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Wander Fleur</a>
  
</div>

## 0. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- ### Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö
1. preprocessing_08.csv : Ïù¥Ï†Ñ Ïã§ÏäµÏóêÏÑú Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Î•º ÏàòÏπòÌòïÏúºÎ°ú Î≥ÄÍ≤Ω ÏôÑÎ£åÌïú Îç∞Ïù¥ÌÑ∞
> - MovieId : (int) ÏòÅÌôî ÏïÑÏù¥Îîî <br>
> - ImdbId : (int) IMDb Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Í¥ÄÎ¶¨ ÏïÑÏù¥Îîî<br>
> - TmdbId : (float) TMDB Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Í¥ÄÎ¶¨ ÏïÑÏù¥Îîî<br>
> - Title : (str) ÏòÅÌôî Ï†úÎ™© <br> 
> - Year : (int) Ï†úÏûëÎÖÑÎèÑ <br> 
> - UserId : (int) Ïú†Ï†Ä ÏïÑÏù¥Îîî <br>
> - Rating : (float) ÏòÅÌôî ÌèâÏ†ê 
> - Gender : (int) ÏÑ±Î≥Ñ, F:0, M:1 <br>
> ---
> (ÏòÅÌôî Ïû•Î•¥ Ïª¨Îüº) <br>
> - Genre_adventure <br>
> &emsp;&emsp;&emsp;‚á£<br>
> - Genre_Western<br>
> ---
> (Í≥†Í∞ù ÏßÅÏóÖ Ïª¨Îüº) <br>
> - Job_academic/educator <br>
> &emsp;&emsp;&emsp;‚á£<br>
> - Job_writer <br>

In [1]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv("./data/preprocessing_08.csv")

In [3]:
df.head()

,MovieId,ImdbId,TmdbId,Title,Year,UserId,Rating,Gender,Age,Genre_Action,...,Job_other,Job_programmer,Job_retired,Job_sales/marketing,Job_scientist,Job_self-employed,Job_technician/engineer,Job_tradesman/craftsman,Job_unemployed,Job_writer
0,1,114709,862,Toy Story,1995,1,4.0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,1,114709,862,Toy Story,1995,5,4.0,1,30,0,...,0,0,0,0,0,0,0,0,0,1
2,1,114709,862,Toy Story,1995,7,4.5,1,39,0,...,0,0,0,0,0,0,0,0,0,0
3,1,114709,862,Toy Story,1995,15,2.5,1,29,0,...,0,0,0,0,0,0,0,0,0,0
4,1,114709,862,Toy Story,1995,17,4.5,1,52,0,...,0,0,0,0,0,0,0,0,0,0

---

### 1. Îç∞Ïù¥ÌÑ∞ Ï†ïÍ∑úÌôî(Normalization)
Îç∞Ïù¥ÌÑ∞Î•º ÏùºÏ†ï Î≤îÏúÑÎ°ú Î≥ÄÌôòÌïòÎäî Ïä§ÏºÄÏùºÎßÅ Î∞©Î≤ïÏúºÎ°ú, Îç∞Ïù¥ÌÑ∞Î•º 0Í≥º 1 ÏÇ¨Ïù¥Ïùò Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÎäî Í≤ÉÏùÑ ÏùòÎØ∏Ìï©ÎãàÎã§. <br> 
Ï†ïÍ∑úÌôîÎäî Îã§ÏñëÌïú Ïä§ÏºÄÏùºÏùÑ Í∞ÄÏßÑ Î≥ÄÏàòÎì§ÏùÑ ÎèôÏùºÌïú Î≤îÏúÑÎ°ú ÎßûÏ∂∞Ï§åÏúºÎ°úÏç®, Î≥ÄÏàò Í∞ÑÏùò ÌÅ¨Í∏∞ Ï∞®Ïù¥Î•º Ï†úÍ±∞ÌïòÏó¨ Î™®Îç∏Ïù¥ Í∞Å Î≥ÄÏàòÎ•º Í≥µÌèâÌïòÍ≤å Ï≤òÎ¶¨Ìï† Ïàò ÏûàÎèÑÎ°ù ÎèïÏäµÎãàÎã§. <br>
ÎåÄÌëúÏ†ÅÏúºÎ°ú Min-Max ScalerÍ∞Ä ÏûàÏäµÎãàÎã§.

#### 1-1. Min-Max Scaler ÏÇ¨Ïö©ÌïòÍ∏∞
- #### 'Age' Ïª¨ÎüºÍ≥º 'Rating' Ïª¨Îüº Min-Max Scaling ÌïòÍ∏∞

In [4]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
from sklearn.preprocessing import MinMaxScaler

In [6]:
# MinMaxScaler Ìò∏Ï∂úÌïòÍ∏∞
min_max_scaler = MinMaxScaler()

# 'Age', 'Rating' Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞Î•º Min Max Scaling ÌïòÍ∏∞
df_normalized = min_max_scaler.fit_transform(df[['Age', 'Rating']])

df_normalized

array([[0.00917431, 0.77777778],
       [0.26605505, 0.77777778],
       [0.34862385, 0.88888889],
       ...,
       [0.29357798, 0.66666667],
       [0.29357798, 0.66666667],
       [0.28440367, 0.77777778]])

### 2. Îç∞Ïù¥ÌÑ∞ ÌëúÏ§ÄÌôî(Standardization)
Îç∞Ïù¥ÌÑ∞Î•º ÌèâÍ∑†Ïù¥ 0Ïù¥Í≥† ÌëúÏ§ÄÌé∏Ï∞®Í∞Ä 1Ïù∏ Î∂ÑÌè¨Î°ú Î≥ÄÌôòÌïòÎäî Ïä§ÏºÄÏùºÎßÅ Î∞©Î≤ïÏúºÎ°ú, Îç∞Ïù¥ÌÑ∞Î•º ÌëúÏ§ÄÏ†ïÍ∑úÎ∂ÑÌè¨Ïóê Îî∞Î•¥Îäî Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÎäî Í≤ÉÏùÑ ÏùòÎØ∏Ìï©ÎãàÎã§.  <br> 
ÌëúÏ§ÄÌôîÎäî Îç∞Ïù¥ÌÑ∞Ïùò Î∂ÑÌè¨Î•º Ï§ëÏã¨ÏúºÎ°ú Ï°∞Ï†àÌïòÏó¨ Ïù¥ÏÉÅÏπòÏóê Îçú ÎØºÍ∞êÌïòÍ≤å ÎßåÎì§Ïñ¥Ï§åÏúºÎ°úÏç®, Î™®Îç∏Ïùò ÏïàÏ†ïÏÑ±ÏùÑ ÎÜíÏù¥Í≥† ÏòàÏ∏° Í≤∞Í≥ºÎ•º Í∞úÏÑ†ÌïòÎäî Îç∞ ÎèÑÏõÄÏùÑ Ï§çÎãàÎã§. <br>

#### 2-1. Standard Scaler ÏÇ¨Ïö©ÌïòÍ∏∞
- #### 'Age' Ïª¨ÎüºÍ≥º 'Rating' Ïª¨Îüº Standard Scaling ÌïòÍ∏∞

In [7]:
df.describe()

,MovieId,ImdbId,TmdbId,Year,UserId,Rating,Gender,Age,Genre_Action,Genre_Adventure,...,Job_other,Job_programmer,Job_retired,Job_sales/marketing,Job_scientist,Job_self-employed,Job_technician/engineer,Job_tradesman/craftsman,Job_unemployed,Job_writer
count,100823.000000,1.008230e+05,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.0000,100823.000000,...,100823.000000,100823.000000,100823.000000,100823.00000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000
mean,19412.974083,3.511409e+05,20054.997144,1994.441298,326.184769,3.501597,0.697529,33.399264,0.3038,0.239608,...,0.089593,0.070252,0.018071,0.04492,0.021007,0.036748,0.097686,0.007588,0.012100,0.040021
std,35490.865272,6.207026e+05,53099.343977,14.367674,182.641372,1.042330,0.459330,15.584995,0.4599,0.426846,...,0.285599,0.255572,0.133210,0.20713,0.143409,0.188142,0.296891,0.086776,0.109335,0.196009
min,1.000000,4.170000e+02,2.000000,1902.000000,1.000000,0.500000,0.000000,1.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1199.000000,9.968500e+04,712.000000,1990.000000,177.000000,3.000000,0.000000,23.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2991.000000,1.187550e+05,6957.000000,1997.000000,325.000000,3.500000,1.000000,32.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8044.500000,3.149790e+05,11635.000000,2003.000000,477.000000,4.000000,1.000000,42.000000,1.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,193609.000000,8.391976e+06,525662.000000,2018.000000,611.000000,5.000000,1.000000,110.000000,1.0000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
from sklearn.preprocessing import StandardScaler

# StandardScaler Ìò∏Ï∂úÌïòÍ∏∞
standard_scaler = StandardScaler()

# 'Age', 'Rating' Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞Î•º StandardScaling ÌïòÍ∏∞
df_standardized = standard_scaler.fit_transform(df[['Age', 'Rating']])

df_standardized

array([[-2.01472118e+00,  4.78164901e-01],
       [-2.18112414e-01,  4.78164901e-01],
       [ 3.59368974e-01,  9.57861818e-01],
       ...,
       [-2.56186180e-02, -1.53201558e-03],
       [-2.56186180e-02, -1.53201558e-03],
       [-8.97832167e-02,  4.78164901e-01]])

---

## Ïã§ÏäµÎ¨∏Ï†ú

#### Q1. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df' Ïùò Ïª¨Îüº Ï§ë Ïà´ÏûêÎ°ú ÌëúÌòÑÎêú Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞('MovieId', 'UserId' Îì±)Í∞Ä ÏïÑÎãå ÏàòÏπòÌòï ÌäπÏÑ±ÏùÑ Í∞ÄÏßÑ Ïª¨ÎüºÏùÑ ÏÑ†Î≥ÑÌï¥ÏÑú 'df_num' Î≥ÄÏàòÎ•º ÎßåÎì§Ïñ¥ Ï†ÄÏû•ÌïòÏÑ∏Ïöî.
üìå ÌÉêÏÉâÏ†Å Î∂ÑÏÑùÏùÑ ÌïòÎ©¥ Ìï¥Îãπ Ïª¨ÎüºÏùÑ ÏâΩÍ≤å Ï∞æÏùÑ Ïàò ÏûàÏäµÎãàÎã§.

In [22]:
df.describe()

,MovieId,ImdbId,TmdbId,Year,UserId,Rating,Gender,Age,Genre_Action,Genre_Adventure,...,Job_other,Job_programmer,Job_retired,Job_sales/marketing,Job_scientist,Job_self-employed,Job_technician/engineer,Job_tradesman/craftsman,Job_unemployed,Job_writer
count,100823.000000,1.008230e+05,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.0000,100823.000000,...,100823.000000,100823.000000,100823.000000,100823.00000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000,100823.000000
mean,19412.974083,3.511409e+05,20054.997144,1994.441298,326.184769,3.501597,0.697529,33.399264,0.3038,0.239608,...,0.089593,0.070252,0.018071,0.04492,0.021007,0.036748,0.097686,0.007588,0.012100,0.040021
std,35490.865272,6.207026e+05,53099.343977,14.367674,182.641372,1.042330,0.459330,15.584995,0.4599,0.426846,...,0.285599,0.255572,0.133210,0.20713,0.143409,0.188142,0.296891,0.086776,0.109335,0.196009
min,1.000000,4.170000e+02,2.000000,1902.000000,1.000000,0.500000,0.000000,1.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1199.000000,9.968500e+04,712.000000,1990.000000,177.000000,3.000000,0.000000,23.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2991.000000,1.187550e+05,6957.000000,1997.000000,325.000000,3.500000,1.000000,32.000000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8044.500000,3.149790e+05,11635.000000,2003.000000,477.000000,4.000000,1.000000,42.000000,1.0000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,193609.000000,8.391976e+06,525662.000000,2018.000000,611.000000,5.000000,1.000000,110.000000,1.0000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
df_copy = df.copy()

print(df_copy.dtypes)

df_num = df[['Year', 'Rating', 'Age']]

df_num

MovieId                       int64
ImdbId                        int64
TmdbId                        int64
Title                        object
Year                          int64
UserId                        int64
Rating                      float64
Gender                        int64
Age                           int64
Genre_Action                  int64
Genre_Adventure               int64
Genre_Animation               int64
Genre_Children                int64
Genre_Comedy                  int64
Genre_Crime                   int64
Genre_Documentary             int64
Genre_Drama                   int64
Genre_Fantasy                 int64
Genre_Film-Noir               int64
Genre_Horror                  int64
Genre_IMAX                    int64
Genre_Musical                 int64
Genre_Mystery                 int64
Genre_Romance                 int64
Genre_Sci-Fi                  int64
Genre_Thriller                int64
Genre_War                     int64
Genre_Western                 int64
Job_K-12 student              int64
Job_academic/educator         int64
Job_artist                    int64
Job_clerical/admin            int64
Job_college/grad student      int64
Job_customer service          int64
Job_doctor/health care        int64
Job_executive/managerial      int64
Job_farmer                    int64
Job_homemaker                 int64
Job_lawyer                    int64
Job_other                     int64
Job_programmer                int64
Job_retired                   int64
Job_sales/marketing           int64
Job_scientist                 int64
Job_self-employed             int64
Job_technician/engineer       int64
Job_tradesman/craftsman       int64
Job_unemployed                int64
Job_writer                    int64
dtype: object

        Year  Rating  Age
0       1995     4.0    2
1       1995     4.0   30
2       1995     4.5   39
3       1995     2.5   29
4       1995     4.5   52
...      ...     ...  ...
100818  2017     4.0   33
100819  2017     3.5   33
100820  2017     3.5   33
100821  2018     3.5   33
100822  1991     4.0   32

[100823 rows x 3 columns]

#### Q2. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df_num'ÏùÑ Min_Max ScalerÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Ï†ïÍ∑úÌôî Ìï¥Î≥¥ÏÑ∏Ïöî.

In [26]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞.
from sklearn.preprocessing import MinMaxScaler

# Ïä§ÏºÄÏùºÎü¨ Ìò∏Ï∂úÌïòÍ∏∞
min_max_scaler = MinMaxScaler()

# Ïä§ÏºÄÏùºÎßÅÌïòÍ∏∞
scalered = min_max_scaler.fit_transform(df[['Age', 'Rating', 'Year']])

#### Q3. Ïä§ÏºÄÏùºÎßÅ Îêú Îç∞Ïù¥ÌÑ∞Î•º Í∏∞Ï°¥Ïùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ 'df'Ïóê Ï†ÅÏö©Ìï¥ Ï£ºÏÑ∏Ïöî.

In [27]:
# Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.
df[['Age', 'Rating', 'Year']] = scalered

df

,MovieId,ImdbId,TmdbId,Title,Year,UserId,Rating,Gender,Age,Genre_Action,...,Job_other,Job_programmer,Job_retired,Job_sales/marketing,Job_scientist,Job_self-employed,Job_technician/engineer,Job_tradesman/craftsman,Job_unemployed,Job_writer
0,1,114709,862,Toy Story,0.801724,1,0.777778,0,0.009174,0,...,0,0,0,0,0,0,0,0,0,0
1,1,114709,862,Toy Story,0.801724,5,0.777778,1,0.266055,0,...,0,0,0,0,0,0,0,0,0,1
2,1,114709,862,Toy Story,0.801724,7,0.888889,1,0.348624,0,...,0,0,0,0,0,0,0,0,0,0
3,1,114709,862,Toy Story,0.801724,15,0.444444,1,0.256881,0,...,0,0,0,0,0,0,0,0,0,0
4,1,114709,862,Toy Story,0.801724,17,0.888889,1,0.467890,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100818,193581,5476944,432131,Black Butler: Book of the Atlantic,0.991379,184,0.777778,0,0.293578,1,...,1,0,0,0,0,0,0,0,0,0
100819,193583,5914996,445030,No Game No Life: Zero,0.991379,184,0.666667,0,0.293578,0,...,1,0,0,0,0,0,0,0,0,0
100820,193585,6397426,479308,Flint,0.991379,184,0.666667,0,0.293578,0,...,1,0,0,0,0,0,0,0,0,0
100821,193587,8391976,483455,Bungo Stray Dogs: Dead Apple,1.000000,184,0.666667,0,0.293578,1,...,1,0,0,0,0,0,0,0,0,0
100822,193609,101726,37891,Andrew Dice Clay: Dice Rules,0.767241,331,0.777778,1,0.284404,0,...,0,0,0,0,0,0,0,0,0,0

---