# ì•ˆë…•í•˜ì„¸ìš”, ì—¬ëŸ¬ë¶„ ^^ 

# ë””ì§€ì½” ë””ê·¸ë¦¬ AI ëª¨ë¸ë§ ê³¼ì • 
# ğŸˆ"ë„ì „ ë¨¸ì‹ ëŸ¬ë‹" ì‹œê°„ì— ì˜¤ì‹  ì—¬ëŸ¬ë¶„ì„ í™˜ì˜í•©ë‹ˆë‹¤!

## ì˜¤ëŠ˜ì€ <font color="#01918a">'íƒ€ì´íƒ€ë‹‰ ìƒì¡´ì ì˜ˆì¸¡'</font> ë¬¸ì œë¥¼ í•´ê²°í•´ ë³´ê² ìŠµë‹ˆë‹¤.

<img src = "https://images.unsplash.com/photo-1654170816607-f355d5cd5619?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2664&q=80" width=100% align="center"/>

<div align="right">ì‚¬ì§„: <a href="https://unsplash.com/ko/%EC%82%AC%EC%A7%84/TQAWPDbuwrc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>ì˜<a href="https://unsplash.com/@ep_petrus?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Edwin Petrus</a></div>

---

## 1. ë°ì´í„° ìˆ˜ì§‘ ë° ë¶„ì„
### 1) ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
# ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv("./data/train_preprocessing_1.csv")

In [3]:
df.head()

   Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked Title
0         0       3    male   22      1      0   7.2500        S    Mr
1         1       1  female   38      1      0  71.2833        C   Mrs
2         1       3  female   26      0      0   7.9250        S  Miss
3         1       1  female   35      1      0  53.1000        S   Mrs
4         0       3    male   35      0      0   8.0500        S    Mr

In [4]:
# ë°ì´í„° ë°±ì—…í•´ë‘ê¸°
df_copy = df.copy()

---

## 2. ë°ì´í„° ì „ì²˜ë¦¬ (1)
ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ì„ ì‚­ì œí•˜ê±°ë‚˜ ê¸°ì¡´ ë°ì´í„°ë¡œ ë¶€í„° ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•©ë‹ˆë‹¤.
ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•˜ê³  ì²˜ë¦¬í•©ë‹ˆë‹¤
- ë°ì´í„° ê°€ê³µí•˜ê¸°
- ê²°ì¸¡ì¹˜ ì œê±°í•˜ê¸°
- ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ì‚­ì œí•˜ê¸°

---

## 3. ë°ì´í„° ì „ì²˜ë¦¬ (2)
ë²”ì£¼í˜• ë³€ìˆ˜ë¥¼ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¡œ ë³€í™˜í•˜ê³ , ë‹¤ì–‘í•œ íŠ¹ì„±ë“¤ì˜ ìŠ¤ì¼€ì¼ì„ ì¡°ì •í•˜ì—¬ ë°ì´í„°ë¥¼ ëª¨ë¸ë§ì— ì í•©í•œ í˜•íƒœë¡œ ì „ì²˜ë¦¬í•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤.

- ë²”ì£¼í˜• ë°ì´í„° ì¸ì½”ë”©
- íŠ¹ì„± ìŠ¤ì¼€ì¼ë§/ì •ê·œí™”

### 1) ë²”ì£¼í˜• ë°ì´í„° ì¸ì½”ë”©
ê¸°ê³„ í•™ìŠµì˜ ì£¼ìš” ë¬¸ì œ ì¤‘ í•˜ë‚˜ëŠ” ë§ì€ ì•Œê³ ë¦¬ì¦˜ì´ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ì…ë ¥ê°’ìœ¼ë¡œ ìˆ˜ìš©í•˜ì§€ ì•ŠëŠ”ë‹¤ëŠ” ì ì¸ë°,<br> ì´ë¥¼ í•´ê²°í•˜ê¸° ìœ„í•´ ë²”ì£¼í˜• ë³€ìˆ˜ë¥¼ ìˆ«ìë¡œ ë³€í™˜í•˜ê¸° ìœ„í•œ ì¸ì½”ë”©ì„ ìˆ˜í–‰í•©ë‹ˆë‹¤. <br>
ì¼ë°˜ì ìœ¼ë¡œ ë ˆì´ë¸” ì¸ì½”ë”©, ì›-í•« ì¸ì½”ë”© ë“±ì˜ ë°©ë²•ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

#### â‘  ë²”ì£¼í˜• ë³€ìˆ˜ì˜ ê° ë²”ì£¼ë¥¼ ìˆ˜ì¹˜í˜•ìœ¼ë¡œ ëŒ€ì²´í•˜ê¸°
<img src="https://miro.medium.com/max/640/1*QQe-4476Oy3_dI1vhb3dDg.png" width="400" ><br>

- **ì„±ë³„(Sex) ì»¬ëŸ¼ì˜ ê°’ 'female', 'male'ì„ 0ê³¼ 1ë¡œ ë³€í˜•í•´ ë³´ì„¸ìš”.**<br>
> 1. **pandasì˜ replace í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ì§ì ‘ ë³€ê²½í•˜ëŠ” ë°©ë²•**
> 2. **sklearnì˜ LableEncodingì„ ì‚¬ìš©í•´ì„œ ë³€ê²½í•˜ëŠ” ë°©ë²•**

1. **pandasì˜ replace í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ì§ì ‘ ë³€ê²½í•˜ëŠ” ë°©ë²•**

In [5]:
df['Sex'].replace('female', 0, inplace=True)
df['Sex'].replace('male', 1, inplace=True)

df.head(3)

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked Title
0         0       3    1   22      1      0   7.2500        S    Mr
1         1       1    0   38      1      0  71.2833        C   Mrs
2         1       3    0   26      0      0   7.9250        S  Miss

In [6]:
# ë°±ì—… ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = df_copy.copy()

2. **sklearnì˜ LableEncodingì„ ì‚¬ìš©í•´ì„œ ë³€ê²½í•˜ëŠ” ë°©ë²•**

In [7]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
from sklearn.preprocessing import LabelEncoder

# ì¸ì½”ë” ìƒì„±í•˜ê¸°
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

df.head(3)

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked Title
0         0       3    1   22      1      0   7.2500        S    Mr
1         1       1    0   38      1      0  71.2833        C   Mrs
2         1       3    0   26      0      0   7.9250        S  Miss

In [ ]:
# ë°±ì—… ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = df_copy.copy()

#### ğŸš¨<font color="red"> ë ˆì´ë¸” ì¸ì½”ë”© ì‹œ ì£¼ì˜ì‚¬í•­</font>
>**ì—¬ëŸ¬ ê°œì˜ ì¹´í…Œê³ ë¦¬ ê°’ì„ ê°€ì§ˆ ê²½ìš° ì¼ê´„ì ìœ¼ë¡œ ìˆ«ì ê°’ìœ¼ë¡œ ë³€í™˜ì´ ë˜ë©´ì„œ ëª‡ëª‡ ë¨¸ì‹ ëŸ¬ë‹ ì•Œê³ ë¦¬ì¦˜ì—ëŠ” ì´ë¥¼ ì ìš©í•  ê²½ìš° ì˜ˆì¸¡ ì„±ëŠ¥ì´ ë–¨ì–´ì§€ëŠ” ê²½ìš°ê°€ ë°œìƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. <br>
><u>ìˆ«ìë¡œ ë˜ì–´ ìˆì–´ ì˜ëª»í•˜ë©´ í•´ë‹¹ ê°’ì´ ê°€ì¤‘ì¹˜ë¡œ ì¸ì‹í•˜ì—¬ ê°’ì— ì™œê³¡ì´ ìƒê¸°ê²Œ ë˜ëŠ” ê²ƒì…ë‹ˆë‹¤.</u><br>
>ì´ëŸ¬í•œ íŠ¹ì„± ë•Œë¬¸ì— ë ˆì´ë¸” ì¸ì½”ë”©ì€ ì„ í˜• íšŒê·€ì—ëŠ” ì ìš©í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.**

#### â‘¡ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ê°€ë³€ìˆ˜í™” í•˜ê¸°
<img src="https://miro.medium.com/max/720/1*80tflY8LxDFRmkD16u25RQ.png" width="600" ><br>
ì›-í•« ì¸ì½”ë”©ì€ ê°„ë‹¨íˆ ë§í•´ í•œ ê°œì˜ ìš”ì†ŒëŠ” True, ë‚˜ë¨¸ì§€ ìš”ì†ŒëŠ” Falseë¡œ ë§Œë“¤ì–´ ì£¼ëŠ” ê¸°ë²•ì…ë‹ˆë‹¤.<br>  
í–‰ í˜•íƒœë¡œ ë¼ ìˆëŠ” í”¼ì²˜ì˜ ê³ ìœ  ê°’ì„ ì—´ í˜•íƒœë¡œ ì°¨ì›ì„ ë³€í™˜í•œ ë’¤, <br>
ê³ ìœ  ê°’ì— í•´ë‹¹í•˜ëŠ” ì¹¼ëŸ¼ì—ë§Œ 1ì„ í‘œì‹œí•˜ê³  ë‚˜ë¨¸ì§€ ì¹¼ëŸ¼ì—ëŠ” 0ì„ í‘œì‹œí•©ë‹ˆë‹¤.<br> 
Pandasì˜ get_dummies()ë¥¼ ì‚¬ìš©í•˜ë©´ ê°„ë‹¨í•˜ê²Œ ì›-í•« ì¸ì½”ë”©ì„ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

- **pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ 'get_dummies' í™œìš©í•˜ì—¬ ë²”ì£¼í˜• ì»¬ëŸ¼ ê°€ë³€ìˆ˜í™”í•˜ê¸°**

In [8]:
# pandasì—ì„œëŠ” get_dummiesí•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ ì‰½ê²Œ One-Hot Encordingì´ ê°€ëŠ¥

# ë²”ì£¼í˜• ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸
dummy_vars = ['Title', 'Pclass', 'Sex', 'Embarked']

df = pd.get_dummies(df, columns=dummy_vars)

In [9]:
df.head(3)

,Survived,Age,SibSp,Parch,Fare,Title_Miss,Title_Mr,Title_Mrs,Title_Others,Pclass_1,Pclass_2,Pclass_3,Sex_0,Sex_1,Embarked_C,Embarked_Q,Embarked_S
0,0,22,1,0,7.2500,0,1,0,0,0,0,1,0,1,0,0,1
1,1,38,1,0,71.2833,0,0,1,0,1,0,0,1,0,1,0,0
2,1,26,0,0,7.9250,1,0,0,0,0,0,1,1,0,0,0,1

#### ğŸš¨<font color="red"> 'get_dummies' ê°€ë³€ìˆ˜í™” ì‹œ ì£¼ì˜ì‚¬í•­</font>
>**ê°€ë³€ìˆ˜í™” ì‹œ ì²«ë²ˆì§¸ ì—´ì„ ì‚­ì œí•˜ëŠ” ì˜µì…˜(drop_first)ì„ ì£¼ì–´, ë²”ì£¼ ì •ë³´ì˜ ì¤‘ë³µì„±ì„ í”¼í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  <br>
><u>ì´ëŸ¬í•œ ì¤‘ë³µì„±ì„ ì œê±°í•¨ìœ¼ë¡œì¨, ë°ì´í„°í”„ë ˆì„ì˜ ì°¨ì›ì„ ì¤„ì¼ ìˆ˜ ìˆê³ , ì—°ì‚° ë¹„ìš©ì„ ì ˆì•½í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. </u><br>
>ë˜í•œ, ëª¨ë¸ í•™ìŠµ ì‹œì—ë„ ì¤‘ë³µëœ ì •ë³´ê°€ í¬í•¨ëœ ì—´ì„ ì œê±°í•¨ìœ¼ë¡œì¨, ë‹¤ì¤‘ê³µì„ ì„± ë¬¸ì œë¥¼ ë°©ì§€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.**

In [10]:
# ë°±ì—… ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = df_copy.copy()

In [12]:
# drop_first ì˜µì…˜ì„ ì‚¬ìš©í•˜ì—¬ ë²”ì£¼ë¥¼ ê°€ë³€ìˆ˜í™” ì—´ì˜ ì¤‘ë³µ ë°ì´í„°ë¥¼ ì œê±°í•©ë‹ˆë‹¤.
df = pd.get_dummies(df, columns=dummy_vars, drop_first=True)

In [13]:
# ë°ì´í„° íƒ€ì… ë³€ê²½ ë‚´ìš© í™•ì¸í•˜ê¸°
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    int64
 1   Age           891 non-null    int64
 2   SibSp         891 non-null    int64
 3   Parch         891 non-null    int64
 4   Fare          891 non-null    float64
 5   Title_Mr      891 non-null    uint8
 6   Title_Mrs     891 non-null    uint8
 7   Title_Others  891 non-null    uint8
 8   Pclass_2      891 non-null    uint8
 9   Pclass_3      891 non-null    uint8
 10  Sex_male      891 non-null    uint8
 11  Embarked_Q    891 non-null    uint8
 12  Embarked_S    891 non-null    uint8
dtypes: float64(1), int64(4), uint8(8)
memory usage: 41.9 KB

In [14]:
# ê°€ë³€ìˆ˜í™” ì™„ë£Œí•œ ë°ì´í„°ë¡œ ë°±ì—… ë°ì´í„° ì—…ë°ì´íŠ¸í•˜ê¸°
df_copy = df.copy()

### 2) íŠ¹ì„± ìŠ¤ì¼€ì¼ë§/ì •ê·œí™”
ì…ë ¥ ë³€ìˆ˜(Feature)ë“¤ì˜ ê°’ì„ ì¼ì •í•œ ìˆ˜ì¤€ìœ¼ë¡œ ë§ì¶° ì£¼ëŠ” ê²ƒì€ Feature Scalining ì´ë¼ í•©ë‹ˆë‹¤.<br> 
ë°ì´í„° ìŠ¤ì¼€ì¼ë§ì˜ ëª©ì ì€ ì»¬ëŸ¼ ë³„ ì°¨ì´ë¥¼ ì™œê³¡í•˜ì§€ ì•Šê³  ê³µí†µ ì²™ë„ë¡œ ë³€ê²½í•˜ê¸° ìœ„í•¨ì…ë‹ˆë‹¤. <br>
ê°€ë ¹ ë‚˜ì´ì˜ ë²”ìœ„ëŠ” (0 ~ 100) ì´ê³  , ì†Œë“ì˜ ë²”ìœ„ëŠ” (0 ~ 10,000,000) ì´ë¼ê³  í•˜ë©´ ì†Œë“ì€ ë‚˜ì´ì˜ ì•½ 100,000ë°°ì´ë©° ë²”ìœ„ì˜ Rangeë„ ë„“ìŠµë‹ˆë‹¤.<br> 
ì´ ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ì‚¬ìš©í•˜ë©´ ì†Œë“ì„ ë³¸ì§ˆì ìœ¼ë¡œ ë” í° ê°’ì´ê¸° ë•Œë¬¸ì— ë‚˜ì´ í”¼ì³ë³´ë‹¤ ë” í° ì˜í–¥ì„ ë¯¸ì¹˜ê²Œ ë©ë‹ˆë‹¤.

#### â‘  Min-Max Scaler (ì •ê·œí™”)
 Min-Max Scalingì€ ëª¨ë“  í”¼ì²˜ê°€ ì •í™•í•˜ê²Œ [0,1] ì‚¬ì´ì— ìœ„ì¹˜í•˜ë„ë¡ ë°ì´í„°ë¥¼ ë³€ê²½í•œë‹¤.
<img src="https://ashutoshtripathicom.files.wordpress.com/2021/06/image-3.png" width=600>
<div align="right">ì´ë¯¸ì§€ ì¶œì²˜ <a href="https://ashutoshtripathi.com/2021/06/12/what-is-feature-scaling-in-machine-learning-normalization-vs-standardization/">"WHAT IS FEATURE SCALING IN MACHINE LEARNING"</a> on <a href="https://ashutoshtripathi.com/" >Data Science Duniya</a></div>

- **MinMaxScalerë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë“¤ì„ ìŠ¤ì¼€ì¼ë§í•˜ì„¸ìš”.**<br>

In [15]:
df.iloc[:,1:]

,Age,SibSp,Parch,Fare,Title_Mr,Title_Mrs,Title_Others,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S
0,22,1,0,7.2500,1,0,0,0,1,1,0,1
1,38,1,0,71.2833,0,1,0,0,0,0,0,0
2,26,0,0,7.9250,0,0,0,0,1,0,0,1
3,35,1,0,53.1000,0,1,0,0,0,0,0,1
4,35,0,0,8.0500,1,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,27,0,0,13.0000,0,0,1,1,0,1,0,1
887,19,0,0,30.0000,0,0,0,0,0,0,0,1
888,29,1,2,23.4500,0,0,0,0,1,0,0,1
889,26,0,0,30.0000,1,0,0,0,0,1,0,0
890,32,0,0,7.7500,1,0,0,0,1,1,1,0

In [16]:
from sklearn.preprocessing import MinMaxScaler

# ë°ì´í„° ì»¬ëŸ¼ëª… ì €ì¥
columns_name = df.columns

# ìŠ¤ì¼€ì¼ëŸ¬ ìƒì„±í•˜ê¸°
scaler = MinMaxScaler()

# ë°ì´í„° ìŠ¤ì¼€ì¼ë§í•˜ê¸°
# ìŠ¤ì¼€ì¼ë§ ì‘ì—… ì‹œ Target('Survived')ëŠ” ì œì™¸í•˜ê³  Featureë§Œ ì‘ì—…í•´ì•¼ í•©ë‹ˆë‹¤.
df_feature = df.drop(columns=['Survived'])
df_feature = scaler.fit_transform(df_feature)

#ë°ì´í„° í”„ë ˆì„
df.iloc[:,1:]=df_feature

In [17]:
df.head(3)

,Survived,Age,SibSp,Parch,Fare,Title_Mr,Title_Mrs,Title_Others,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S
0,0,0.275,0.125,0.0,0.014151,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1,0.475,0.125,0.0,0.139136,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.325,0.000,0.0,0.015469,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

####  ğŸ“í•™ìŠµìš© ë°ì´í„°ë¥¼ ìŠ¤ì¼€ì¼ë§í•œ ìŠ¤ì¼€ì¼ëŸ¬ëŠ” ì €ì¥í•´ë‘ì–´ ìƒˆë¡œìš´ í…ŒìŠ¤íŠ¸ ë°ì´í„° ì…ë ¥ ì‹œ ì‚¬ìš©í•  ìˆ˜ ìˆë„ë¡ í•©ë‹ˆë‹¤.

In [18]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
import joblib

# í•™ìŠµí•œ ìŠ¤ì¼€ì¼ëŸ¬ ì €ì¥
joblib.dump(scaler, './scaler.pkl')

['./scaler.pkl']

---

### ğŸ“¥<font color="red"> ë‹¤ìŒ ì‹¤ìŠµì„ ìœ„í•´ ê°€ê³µì´ ì™„ë£Œëœ ë°ì´í„° 'df'ë¥¼ íŒŒì¼ë¡œ ì €ì¥í•©ë‹ˆë‹¤.</font>

- pandasì˜ to_csv ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ë©´ íŒŒì¼ ì €ì¥í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 
- [ì°¸ê³ ] ì»¬ëŸ¼ëª…ì— í•œê¸€ì´ ìˆì„ ê²½ìš° ì €ì¥ ì‹œ encoding ì˜µì…˜ì„ 'utf-8-sig'ë¡œ ì§€ì •í•˜ì—¬ì•¼ í•œê¸€ ê¹¨ì§ì„ ë°©ì§€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [19]:
df.to_csv("./data/train_preprocessing_2.csv", encoding='utf-8', index=False)

---