※ 참고 : 데이터는 앞 장과 동일하게 '항공권 가격 예측 데이터(Flight Price Predicton)의 'Clean_Dataset.csv'를 사용하여 실습합니다.

In [1]:
# 실습 데이터 불러오기
import pandas as pd
import numpy as np
flight = pd.read_csv('./dataset/Clean_Dataset.csv', encoding = "cp949")
flight

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

# SECTION 01. 필요 데이터 선택하기

## 1. 칼럼명으로 데이터 선택하기

In [2]:
# 하나의 칼럼만 선택하기
flight[['departure_time']]

       departure_time
0             Evening
1       Early_Morning
2       Early_Morning
3             Morning
4             Morning
...               ...
300148        Morning
300149      Afternoon
300150  Early_Morning
300151  Early_Morning
300152        Morning

[300153 rows x 1 columns]

In [3]:
# 여러 개의 칼럼 선택하기
flight[['airline','departure_time','source_city']]

         airline departure_time source_city
0       SpiceJet        Evening       Delhi
1       SpiceJet  Early_Morning       Delhi
2        AirAsia  Early_Morning       Delhi
3        Vistara        Morning       Delhi
4        Vistara        Morning       Delhi
...          ...            ...         ...
300148   Vistara        Morning     Chennai
300149   Vistara      Afternoon     Chennai
300150   Vistara  Early_Morning     Chennai
300151   Vistara  Early_Morning     Chennai
300152   Vistara        Morning     Chennai

[300153 rows x 3 columns]

## 2. 행 범위를 지정하여 데이터 선택하기

In [4]:
# 슬라이싱을 이용하여 10행부터 20행까지의 데이터를 가져오기
flight[10:21]

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
10,10,GO_FIRST,G8-392,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
11,11,GO_FIRST,G8-338,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5954
12,12,Indigo,6E-5001,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
13,13,Indigo,6E-6202,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.17,1,5955
14,14,Indigo,6E-549,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5955
15,15,Indigo,6E-6278,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
16,16,Air_India,AI-887,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.08,1,5955
17,17,Air_India,AI-665,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
18,18,AirAsia,I5-747,Delhi,Evening,one,Early_Morning,Mumbai,Economy,12.25,1,5949
19,19,AirAsia,I5-747,Delhi,Evening,one,Morning,Mumbai,Economy,16.33,1,5949
20,20,GO_FIRST,G8-266,Delhi,Early_Morning,one,Evening,Mumbai,Economy,11.75,1,5954

## 3. 특정 행, 열의 범위를 선택하여 데이터 선택하기
### 기반:

- loc: 라벨(이름) 기반 인덱싱.
- iloc: 정수 기반 인덱싱.

### 슬라이싱 방식:

- loc: 종료값을 포함.
- iloc: 종료값을 포함하지 않음.

### 사용 용도:

- loc: 데이터프레임의 라벨을 알고 있을 때 유용.
- iloc: 데이터프레임의 정수 위치를 사용할 때 유용.

In [5]:
# 인덱스 새롭게 지정하기
flight.index = np.arange(100,300253)
flight

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
100,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
101,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
102,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
103,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
104,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300248,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300249,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300250,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300251,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300252,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [6]:
groups = flight.groupby('airline')
groups

In [7]:
groups.count()

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
airline,,,,,,,,,,,
AirAsia,16098,16098,16098,16098,16098,16098,16098,16098,16098,16098,16098
Air_India,80892,80892,80892,80892,80892,80892,80892,80892,80892,80892,80892
GO_FIRST,23173,23173,23173,23173,23173,23173,23173,23173,23173,23173,23173
Indigo,43120,43120,43120,43120,43120,43120,43120,43120,43120,43120,43120
SpiceJet,9011,9011,9011,9011,9011,9011,9011,9011,9011,9011,9011
Vistara,127859,127859,127859,127859,127859,127859,127859,127859,127859,127859,127859

In [8]:
groups[['price', 'duration']].mean()

                  price   duration
airline
AirAsia     4091.072742   8.941714
Air_India  23507.019112  15.504235
GO_FIRST    5652.007595   8.755380
Indigo      5324.216303   5.795197
SpiceJet    6179.278881  12.579767
Vistara    30396.536302  13.326634

In [9]:
# 책에 있는 코드 이지만 실제로 에러 발생함 
flight.groupby(['airline','arrival_time']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# loc 사용하기
flight.loc[[102, 202, 302]]

In [ ]:
# iloc 사용하기
flight.iloc[[2, 102, 202]]

In [ ]:
# loc를 사용하여 행과 열의 범위 지정하기
flight.loc[[102, 202, 302], ['airline', 'flight', 'source_city', 'price']]

In [ ]:
# iloc를 사용하여 행과 열의 범위 지정하기
flight.iloc[[2, 102, 202], [1, 2, 3, 11]]

In [ ]:
# iloc를 사용하였을 때 칼럼값을 그대로 사용시 에러 발생
flight.iloc[[2, 102, 202], ['airline', 'flight', 'source_city', 'price']]

## 4. 조건으로 데이터 선택하기

##### ※ 앞서 진행한 실습을 이어서 진행하실 경우 실습을 진행하실 수 있으나, 실습 코드가 반영되어 결과 값의 차이가 있을 수 있습니다.
#####      실습 데이터를 다시 불러온 후 데이터프레임을 만들어 실습을 진행합니다.

In [ ]:
# flight DataFrame을 만들기 
flight = pd.read_csv('./dataset/Clean_Dataset.csv', encoding = "cp949")
flight

##### ## 조건 : price가 12000 초과 이고, airline이 Air_india인 항목만 추출

In [ ]:
# boolean 연산으로 조건을 만족하는 데이터만 추출하기
flight_extract = flight[(flight['price']>12000) & (flight['airline']=='Air_India')]
flight_extract.head()

##### ## 조건1. : price가 12000 초과

##### ## 조건2. : airline이 Air_India

In [ ]:
# 조건을 별도로 지정하여 데이터 추출하기 

# 가격: 12000 초과
price_Tag = flight['price']>12000
# 항공사 이름: Air_India
airline_tag = flight['airline']=='Air_India'

flight_extract2=flight[price_Tag & airline_tag].head()
flight_extract2

# SECTION 02. 필요 데이터 변경하기

## 1. 데이터 추가하기

In [ ]:
# 새로운 칼럼 만들기
flight['price2'] = flight['price'] * 2
flight.head()

In [ ]:
# 기존 칼럼 연산으로 새로운 칼럼 만들기
flight['price3'] = flight['price'] + flight['price2']
flight.head()

In [ ]:
# 새로운 칼럼 원하는 위치에 넣기
flight.insert(10, 'duration2', flight['duration'] *10) 
# 처음 0부터 시작하여 10번 칼럼으로 insert
flight.head()

## 2. 데이터 삭제하기

In [ ]:
# drop 메소드 사용하여 데이터 삭제 하기
flight.drop('price3', axis=1).head()

In [ ]:
# axis 속성 이해하기
flight.drop(index=0, axis=0).head()

In [ ]:
# 첫 행 데이터 지워진 것 확인하기
flight.head()

In [ ]:
# 데이터 삭제 후 새로운 데이터프레임에 저장하기
flight1=flight.drop('price3', axis=1)
flight1.head()

In [ ]:
# drop 메소드의 inplace 속성 확인하기
flight.drop('price3', axis=1, inplace=True)
flight.head()

## 3. 칼럼명 변경하기

In [ ]:
# rename 이용하여 칼럼명 변경하기
flight=flight.rename(columns = {"airline" : 'airline_name',"source_city":'departure_city'})
flight.head()

## 4. 데이터프레임 정렬하기

In [ ]:
# sort_values 메소드와 ascending 매개변수 지정하여 데이터 프레임 역순으로 정렬하기
flight=flight.sort_values(by ='Unnamed: 0', ascending=False)
flight.head()

In [ ]:
# sort_values 메소드와 ascending 매개변수 지정하여 데이터 프레임 역순으로 정렬하기
flight=flight.sort_values(by ='Unnamed: 0', ascending=True)
flight.head()

# SECTION 03. 데이터 프레임 변형하기


##### ※ 앞서 진행한 실습을 이어서 진행하실 경우 실습을 진행하실 수 있으나, 실습코드가 반영되어 결과값의 차이가 있을 수 있습니다.
#####    실습 데이터를 다시 불러온 후 데이터프레임을 만들어 실습을 진행 합니다.

In [ ]:
# flight DataFrame 만들기
flight = pd.read_csv('./Clean_Dataset.csv', encoding = "cp949")
flight

## 1. 그룹화 하기

### 1) groupby 활용하기

In [ ]:
# airline 칼럼 기준으로 그룹화하기
airline_group = flight.groupby('airline')
airline_group

In [ ]:
# 수행 결과 확인하기 
airline_group.groups

In [ ]:
# 데이터 수 확인하기
airline_group.count()

In [ ]:
# 최솟값 확인하기
airline_group.min()

In [ ]:
# 평균값 확인하기
airline_group.mean()

In [ ]:
# 특정 칼럼 값만 확인하기
airline_group.mean()[['price']]

In [ ]:
# groupby를 활용하여 다중 인덱싱(multi-indexing)설정하기
flight.groupby(['airline', 'arrival_time']).mean()

In [ ]:
# 여러 개의 칼럼을 groupby하여 새로운 데이터프레임 생성하기
mul_airline_group=flight.groupby(['airline', 'arrival_time'])
mul_airline_group.mean()

In [ ]:
# groupby 후 원하는 데이터만 가지고 오기
flight.groupby(['airline', 'arrival_time']).mean().loc[[('AirAsia','Evening')]]

### 2) 인덱스로 그룹화하기

In [ ]:
# set_index로 인덱스 지정하기
flight.set_index(['airline','arrival_time'])

In [ ]:
# 다중 인덱스(multi-index) 셋팅 후 해당 인덱스 기준으로 groupby하기
flight.set_index(['airline','arrival_time']).groupby(level=[0]).mean()

In [ ]:
# 인덱스 모두 선택하여 groupby 하기
flight.set_index(['airline','arrival_time']).groupby(level=[0,1]).mean()

### 3) Aggrgate로 집계하기

In [ ]:
# aggregate 메소드 이용하여 groupby 후 평균값과 최댓값 확인하기 
flight.set_index(['airline','arrival_time']).groupby(level=[0,1]).aggregate([np.mean, np.max])

## 2. 피벗테이블 생성하기

In [ ]:
# pivot / pivot_table을 위한 데이터프레임 만들기
import numpy as np
import pandas as pd
pivot_data = pd.DataFrame({'cust_id': ['cust_1', 'cust_1', 'cust_1', 'cust_2', 'cust_2', 'cust_2', 'cust_3', 'cust_3', 'cust_3'],
                  'prod_cd': ['p1', 'p2', 'p3', 'p1', 'p2', 'p3', 'p1', 'p2', 'p3'],
                  'grade' : ['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B'],
                  'purch_amt': [30, 10, 0, 40, 15, 30, 0, 0, 10]})
pivot_data

In [ ]:
# pivot 활용하기
pivot_data.pivot(index = 'cust_id', columns ='prod_cd', values ='purch_amt')

# 해당 pivot data는 아래와 같이 코드를 작성할 수도 있습니다.
# pivot_data('cust_id', 'prod_cd', 'pch_amt')

In [ ]:
# 중복값이 존재하는 경우 에러 메시지
pivot_data.pivot(index='grade', columns='prod_cd', values='purch_amt')

In [ ]:
# pivot_table 활용하기
pivot_data.pivot_table(index='grade', columns='prod_cd', values='purch_amt')

In [ ]:
# pivot_table의 aggfunc 지정하기
pivot_data.pivot_table(index='grade', columns='prod_cd', values='purch_amt', aggfunc=np.sum)

## 3. 인덱스 및 칼럼 레벨 변경하기

In [ ]:
# stack/unstack을 위한 데이터프레임 만들기
import numpy as np
import pandas as pd
stack_data = pd.DataFrame({
    'Location': ['Seoul', 'Seoul', 'Seoul', 'kyounggi', 'kyounggi', 'Busan', 'Seoul', 'Seoul', 'Busan', 'kyounggi', 'kyounggi', 'kyounggi'],
    'Day': ['Mon', 'Tue', 'Wed', 'Mon', 'Tue', 'Mon', 'Thu', 'Fri', 'Tue', 'Wed', 'Thu', 'Fri'],
    'Ranfall': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100, 50, 100],
    'Rainfall_precipitation': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80, 50, 10],
    'Temp' : [32, 27, 32, 31, 30, 28, 27, 25, 26, 33, 34, 31]})

stack_data

In [ ]:
# 인덱스 설정하기
new_stack_data = stack_data.set_index(['Location','Day'])
new_stack_data

In [ ]:
# unstack 확인하기
new_stack_data.unstack(0)

In [ ]:
new_stack_data.unstack(1)

In [ ]:
new_stack_data2 = new_stack_data.unstack(1)
new_stack_data2.stack(1)

# SECTION 04. 데이터프레임 병합하기

## 1. concat 활용하여 병합하기

### 1) 칼럼명이 같은 경우

In [ ]:
# concat 실행을 위한 데이터프레임 만들기
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'col1' : ['사과','배','감','수박','메론'], 'col2' : [500, 1000, 2500, 5000,3000]}, index=[0,1,2,3,4])
df2 = pd.DataFrame({'col1' : ['수박','메론','딸기','키위','오렌지'], 'col2' : [5000,3000,1000,600,700]}, index=[3,4,5,6,7])

In [ ]:
df1

In [ ]:
df2

In [ ]:
# ignore_index 확인하기
pd.concat([df1, df2], ignore_index=False)

In [ ]:
pd.concat([df1, df2], ignore_index=True)

In [ ]:
# concat axis 이해하기
pd.concat([df1, df2], axis = 1)

### 2) 칼럼명이 다른 경우

In [ ]:
df3 = pd.DataFrame({'item':['item0','item1','item2', 'item3'], 'count':['count0','count1','count2','count3'],
                    'price':['price0','price1','price2','price3']}, index = [0,1,2,3])
df4 = pd.DataFrame({'item':['item2','item3','item4', 'item5'], 'count':['count2','count3','count4','count5'],
                    'price':['price2','price3','price4','price5'], 'var':['var2','var3','var4','var5']}, index = [2,3,4,5])

In [ ]:
df3

In [ ]:
df4

In [ ]:
# join의 outer 방식
pd.concat([df3, df4], join='outer')

In [ ]:
# join의 inner 방식
pd.concat([df3, df4], join='inner')

### 3) 인덱스가 중복인 경우

In [ ]:
df5 = pd.DataFrame({'A':['A0','A1','A2'], 'B':['B0','B1','B2'], 'C':['C0','C1','C2'], 'D':['D0','D1','D2']}, index=['I0','I1','I2'])
df6 = pd.DataFrame({'A':['AA2','A3','A4'], 'B':['BB2','B3','B4'], 'C':['CC2','C3','C4'], 'D':['DD2','D3','D4']}, index=['I2','I3','I4'])

In [ ]:
df5

In [ ]:
df6

In [ ]:
# verify_integrity 확인하기 (에러 메시지)
pd.concat([df5, df6], verify_integrity=True)

## 2. merge/ join 활용하여 병합하기

In [ ]:
# merge / join 실행을 위한 데이터프레임 만들기
import pandas as pd
import numpy as np
customer = pd.DataFrame({'customer_id' : np.arange(6), 
                    'name' : ['James', 'Elly', 'Tom', 'Givert', 'Aiden', 'Brody'], 
                    '나이' : [40, 20, 21, 30, 31, 18]})

orders = pd.DataFrame({'customer_id' : [1, 1, 2, 2, 2, 3, 3, 1, 4, 9], 
                    'item' : ['마우스', '충전기', '이어폰', '헤드셋', '전자펜', '키보드', '전자펜', '마우스', '키보드', '케이스'], 
                    'quantity' : [1, 2, 1, 1, 3, 2, 2, 3, 2, 1]})

In [10]:
customer

NameError: name 'customer' is not defined

In [11]:
orders

NameError: name 'orders' is not defined

In [12]:
# merge 함수의 on 속성 이해하기
pd.merge(customer, orders, on='customer_id')

NameError: name 'customer' is not defined

In [13]:
# merge 함수의 how 속성 이해하기
pd.merge(customer, orders, on='customer_id', how='inner')

NameError: name 'customer' is not defined

In [14]:
pd.merge(customer, orders, on='customer_id', how='left')

NameError: name 'customer' is not defined

In [15]:
pd.merge(customer, orders, on='customer_id', how='right')

NameError: name 'customer' is not defined

In [16]:
pd.merge(customer, orders, on='customer_id', how='outer')

NameError: name 'customer' is not defined

In [17]:
# 인덱스를 지정하여 데이터프레임 합치기
cust1=customer.set_index('customer_id')
order1=orders.set_index('customer_id')
pd.merge(cust1, order1, left_index=True, right_index=True)

NameError: name 'customer' is not defined

#### [확인문제] 정답 및 해설

In [18]:
# 문제 05. 정답 : 전자펜
# 1. item별 합 구하기
pd.merge(customer, orders, on='customer_id', how='right').groupby('item').sum()

NameError: name 'customer' is not defined

In [19]:
# 2. 오름차순으로 데이터를 정렬하기
pd.merge(customer, orders, on='customer_id', how='right').groupby('item').sum().sort_values(by='quantity', ascending=False)

NameError: name 'customer' is not defined

In [20]:
# 문제 06. 정답 : 마우스
pd.merge(customer, orders, on='customer_id', how='inner').groupby(['name','item']).sum().loc['Elly']

NameError: name 'customer' is not defined